.login {
	 margin: auto;
	 position: absolute;
	  top: 0; left: 0; bottom: 0; right: 0;
	  height: 50%;
	  text-align: center;
	  color: white;
	  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.login a {
	color:#0D4F8B;
	text-decoration: none;
}


input,button {
	color: #999999;
}
.login h1, .login p{
	color:#5ea6d9;
}
.login button{
	border-color: #5ea6d9;
	background-color: white;
	color:#5ea6d9;
}
html {
	color:#5ea6d9;
	background-color: #5ea6d9;

}

/* media query to optimize login screen for mobile*/
/*@media screen and (max-width: 800px){
	body{
	font-size:40px;
	}
	div{
		height:100%;
		width:100%;
	}
	input{
		font-size:1em;
		height:1.5em;
	}
	input[type=submit]{
		height:1.5em;
		width:1em;
		font-size: 5em;

	}
}
*/
