<!DOCTYPE html>
<html lang="en-US">

	<head>
		{% block meta %}
			<meta charset="utf-8" />
			<meta name="keywords" content="key, words" />
			<meta name="description" content="description" />
		{% endblock %}

		{% block styles %}
			{% load staticfiles %}
			
			<link rel="stylesheet" type="text/css" href="{% static 'bootstrap-3.2.0-dist/css/bootstrap.css' %}" />
			<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
		{% endblock %}

		<title>JAM</title>
	</head>

	<body> 

		<header class="navbar navbar-fixed-top">
	        {% include "jam/nav/nav-bar.html" %}
	    </header>

		<div id="main" role="main">
			<div class="menuBar"></div>
	        <div class="container-fluid">
	            {% block content %}
	            {% endblock %}
	        </div>
	    </div>

	{% include "jam/nav/modal_nav_bar.html" %}
	</body>


</html>


{% block javascript %}
	<script src="{% static 'js/jquery-2.1.1.min.js' %}"></script>
	<script src="{% static 'twitter_bootstrap/js/transition.js' %}"></script>
	<script src="{% static 'js/main.js' %}"></script>
	<script src="{% static 'js/handlers.js' %}"></script>
	<script src="{% static 'bootstrap-3.2.0-dist/js/bootstrap.js' %}"></script>
	<script src="{% static 'js/companies.js' %}"></script>
	<script src="{% static 'js/contacts.js' %}"></script>

	<script type="text/javascript">
	  /*$(document).ready(function() {
	    $('.carousel').carousel({interval: 7000});
	  });*/
	</script>
{% endblock %}