{% extends "../../jam/templates/jam/index/index_landing.html" %}

{% load staticfiles %}
{% load notification_custom %}

{% block side_col %}
	<!-- <div class="navbar navbar-fixed-top"> -->
    <h2>Channels</h2>
    <!-- </div> -->
	<div class="list-group">
		{% for c in channels %}
		<form action="" method="post">
		{% csrf_token %}
		<!--<a href="{{ site }}jam/channels/view/{{ c.name }}/" class="list-group-item">
			<h4 class="list-group-item-heading">{{ c.name }}</h4>
		</a>
		-->
			<input type="submit" name="channel_name" value="{{c.name}}" style="border: 0; background:transparent" >
			{% if notificationList|get_notifications:forloop.counter0 != 0 %}
				({{ notificationList|get_notifications:forloop.counter0 }})
			{% endif %}	
			

		</form>
		{% empty %}
			<h5> You currently don't have any channels. Add one <a href="{% url 'new_channel' %}">here</a>. </h5>
		{% endfor %}
	</div>
{% endblock %}

{% block main_col %}
	<section class="page-wrap">
		<div class="navbar newsfeed-bar">
			<h2>Newsfeed</h2>
		</div>
		<div class="newsfeed-scroll">
			{% if show %}
				{% include "jam/channels/channel_feed.html" %}
				
				<p><b> All Events: <b></p>
				<ul>{% for e in unadded_e.all %}
				<li>{{ e }} - {{e.next_occurrence.start_time}}</li>
				<form class="addEvent" method="POST">
					{% csrf_token %}
					<input class="button" name="{{e.pk}}-{{channel_name}}" type="submit" value="Add"/>
				</form>
				{% endfor %}
				
				<ul>{% for e in added_e.all %}
				<li><a href="{{ e.get_absolute_url }}">{{ e }}</a> - {{e.next_occurrence.start_time}}</li>
				
				{% endfor %}
				
				<form class="goHome" method="POST" action="">
				{% csrf_token %}
				
				<br>
				<p>
					<input class="button" name="back_home" type="submit" value="Back"/>
				</p>
				</form>
			{% else %}
				{% for a in app_list %}
				<p style="color:red; font-size:2em"> {{ a }} </p>
				{% endfor %}

				{% for e in events %}
					<p><a href="{{e.get_absolute_url}}">{{e}} {{e.next_occurrence.start_time}}</a></p>
				{% endfor %}
			{% endif %}
		</div>
		<!-- <div class="push"></div> -->
	</section>


{% endblock %}
