{% extends "../../jam/templates/jam/index/index_landing.html" %}

{% load staticfiles %}
{% load notification_custom %}

{% block side_col %}
	<!-- <div class="navbar navbar-fixed-top"> -->
    <h2>Channels</h2>
    <!-- </div> -->
	<div class="list-group">
		{% for c in channels %}
		<form action="" method="post">
		{% csrf_token %}
		<!--<a href="{{ site }}jam/channels/view/{{ c.name }}/" class="list-group-item">
			<h4 class="list-group-item-heading">{{ c.name }}</h4>
		</a>
		-->
			<input type="submit" name="channel_name" value="{{c.name}}" style="border: 0; background:transparent" >
			
		</form>
		{% empty %}
			<h5> You aren't currently following any channels. Follow one <a href="/jam/channels/list">here</a>. </h5>
		{% endfor %}
	</div>
{% endblock %}

{% block main_col %}
	<section class="page-wrap">
		<div class="navbar newsfeed-bar">
			<h2>Newsfeed</h2>
		</div>
		<div class="newsfeed-scroll">
			{% if show %}
				{% include "jam/channels/channel_feed.html" %}
				<!--<p>News Articles</p>
				{% for k, v in article_urls.items %}
				    <p><a href="{{k}}">{{v}}</a></p>
				{% endfor %}
				-->
			{% else %}
				{% for a in app_list %}
					<p style="color:red; font-size:2em"> {{ a }} </p>
				{% endfor %}
				
				{% if events %}
					<p><b>Upcoming Events:</b></p>
				{% endif %}	
				{% for e in events %}
					<p><a href="{% url 'events_page' event_id=e.id event_name=e.name %}">{{e}} - {{e.event_date}} - {{e.start_time}}</a></p>
				{% endfor %}
				<!--<p>News Articles</p>
				{% for k, v in article_urls.items %}
				    <p><a target="_blank" href="{{k}}">{{v}}</a></p>
				{% endfor %}
				-->
				{% if news_feed_notes %}
					<p><b>Recent Channel Notes:</b></p>
				{% endif %}
				{% for note in news_feed_notes %}
					<p>{{ note.home_channel }}</b> - {{ note.text }} - {{ note.created_at }}</p> 
				{% endfor %}
			{% endif %}
		</div>
		<!-- <div class="push"></div> -->
	</section>


{% endblock %}
