{% extends "../../jam/templates/jam/index/index_landing.html" %}

{% load staticfiles %}
{% load notification_custom %}

{% block side_col %}
	<!-- <div class="navbar navbar-fixed-top"> -->
    <h2>Channels</h2>
    <!-- </div> -->
	<div class="list-group">
		{% for c in channels %}
		<form action="" method="post">
		{% csrf_token %}
		<!--<a href="{{ site }}jam/channels/view/{{ c.name }}/" class="list-group-item">
			<h4 class="list-group-item-heading">{{ c.name }}</h4>
		</a>
		-->
			<input type="submit" name="channel_name" value="{{c.name}}" style="border: 0; background:transparent" >
			{% if notificationList|get_notifications:forloop.counter0 != 0 %}
				({{ notificationList|get_notifications:forloop.counter0 }})
			{% endif %}	
			

		</form>
		{% empty %}
			<h5> You currently don't have any channels. Add one <a href="{% url 'new_channel' %}">here</a>. </h5>
		{% endfor %}
	</div>
{% endblock %}

{% block main_col %}
	<section class="page-wrap">
		<div class="navbar newsfeed-bar">
			<h2>Newsfeed</h2>
		</div>
		<div class="newsfeed-scroll">
			{% for e in events %}
				<p>{{e}} {{e.next_occurrence.start_time}}</p>
			{% endfor %}
		</div>
		<!-- <div class="push"></div> -->
	</section>


{% endblock %}
