{% extends "../../jam/templates/jam/index/index.html" %}


{% block styles %}
    {% load staticfiles %}
    {{block.super}}
    <link rel="stylesheet" type="text/css" href="{% static 'css/calendar.css' %}" />
{% endblock %}

{% block content %}
<div class="table-responsive">
	<table class="table table-events"> 
		<thead> 
			<tr> 
				<th class="col-md-4"><h3>Event Name: </h3></th>
				<td><h3>{{ event_name }}</h3></td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th>Event Type:</th> 
				<td>{{ event_type }}</td>
			</tr>
			<tr>
				<th>Event Description:</th> 
				<td>{{ event_description }}</td>
			</tr>
			{% if companies or other_comp %}
			<tr>
				<th>Companies:</th> 
				<ol>
					<td>
					{% for c in companies %}
						<li><a href="{% url 'companies' c %}">{{ c }}</a></li>
					{% endfor %}
					{% for d in other_comp %}
						<li>{{ d }}</li>
					{% endfor %}
				</td>
				</ol>

			</tr>
			{% endif %}

			<tr>
				<th>Date:</th> 
				<td>
					{{ event_date }}
				</td>
			</tr>
			<tr> 
				<th>Start Time:</th>
				<td>{{ start_time }} </td>
			</tr>
			<tr> 
				<th>End Time:</th>
				<td>{{ end_time }} </td>
			</tr>
			<tr> 
				<th>Recurrence:</th>
				<td>{{ recurrence }} </td>
			</tr>
			<tr> 
				<th>End Date:</th>
				<td>{{ end_date }} </td>
			</tr>
		</tbody>
	</table>
	<div class="col-sm-5" style="text-align:right">
		<p> <a href="{{ google_link }}" target="_blank">Sync with Google Calendar</a> </p>

		{% if owned_event %}
		{% if delete_button %}
			<form class="delete_all" method="POST" action="">
			{% csrf_token %}
			<button class="btn btn-default btn-small" id="delete_all" name="delete_all" type="submit" value="{{ event.id }}" onclick="return confirm('Are you sure you want to delete all recurring events: {{ event_name }}?')">Delete All </button>
			</form>
		{% endif %}
		{% endif %}

		<form class="delete" method="POST" action="">
		{% csrf_token %}
		<button class="btn btn-default btn-small" id="delete" name="delete" type="submit" value="{{ event.id }}" onclick="return confirm('Are you sure you want to delete event: {{ event_name }}?')">Delete</button>
		</form>	
		
		{% if owned_event %}
		<a href="../../../edit/event/{{ event.id }}"><button style="color:black" type="submit" name="event_edit" class="btn btn-default btn-small" value="{{ event_name }}">Edit</button></a>
		{% endif %}

		<button class="btn btn-default btn-small" onclick="history.back();" value="Back">Back</button>
	</div>
</div>
{% endblock %}

{% block javascript %}
{{ block.super }}
<script src="{% static 'js/events.js' %}"></script>
{% endblock %}