{% extends "../../jam/templates/jam/index/index.html" %}


{% block content %}
<div>
	<form name="edit_event_form" class="edit_event_form form-horizontal" method="POST">
    	{% csrf_token %}
			<div class="form-group">
					<label for="event_type_input" class="col-md-4 control-label">Event Type: </label>
					<div class="col-md-8"> 
						<select id="event_type_input" name="event_type">
							<option value="{{event_type}}">{{event_type}}</option>
			                <option value="Interview">Interview</option>
			                <option value="Career Fair">Career Fair</option>
			                <option value="Info Session">Info Session</option>
			                <option value="Application Deadline">Application Deadline</option>
			                <option value="Other">Other</option>
		        		</select>
	        		</div>
			</div>

				<div class="form-group">
					<label for="event_name_input" class="col-md-4 control-label">Event Name: </label>
					<div class="col-md-8"> 
						<input id="event_name_input" class="form-control" name="event_name" placeholder="Google Tech Interview" onblur = 'validateName(this.id)' value="{{ event_name }}" required  />
						<span class="error" name="event_name_input" style="display:none; background-color: white; color: red"> </span>
					</div>
				</div>

				<div class="form-group">
					<label for="event_description_input" class="col-md-4 control-label">Event Description: </label>
					<div class="col-md-8"> 
						<input id="event_description_input" class="form-control" name="description" placeholder="At 123 Main Street, bring resume" value="{{description}}"  />
					</div>
				</div>

				<div class="form-group">
					<label for="event_companies_input" class="col-md-4 control-label">Companies: </label>
					<div class="col-md-8"> 
						<input id="event_companies_input" class="form-control" name="companies" placeholder="Google, Pinterest, Apple" value="{{ companies }}"  />
					</div>
				</div>

				<div class="form-group">
					<label for="event_date_input" class="col-md-4 control-label">Date: </label>
					<div class="col-md-8">
						<input id="event_date_input" class="form-control" name="event_date" placeholder="2015-12-31" onblur="validateDeadline('event_date_input')" value="{{ event_date }}" required />
						<span class="error-message" style="display:none; color:red;"> {{ validity }} </span>
					</div>
				</div>

				<div class="form-group">
					<label for="event_start_time_input" class="col-md-4 control-label">Start Time: </label>
					<div class="col-md-8">
						<input id="event_start_time_input" class="form-control" name="start_time" placeholder="2:00 PM" 
						value="{{ start_time }}" required />
					</div>
				</div>

				<div class="form-group">
					<label for="event_end_time_input" class="col-md-4 control-label">End Time: </label>
					<div class="col-md-8">
						<input id="event_end_time_input" class="form-control" name="end_time" placeholder="5:00 PM" onblur="validateTimes('event_start_time_input','event_end_time_input')" value="{{ end_time }}" />
						<span class="time-error" style="display:none; color:red;">  </span>

					</div>
				</div>
				
				<div class="form-group">
					<label for="channel_input" class="col-md-4 control-label">Channel</label>
					<div class="col-md-8"> 
							<select id="channel_input" name="channel_type">
								<option value="None">None</option>
								{% for channel in controlled_channels.all %}
									 <option value="{{channel.name}}">{{channel.name}}</option>
								{% endfor %}
							   
							</select>
					</div>
			</div>

		<br />
		<input type="button" onclick="history.back();" value="Back" style="font-size: 15px" />	
		<button class="btn small-btn btn-default" type="submit" name="save" value="Save">Save</button>
		</form>
</div>
{% endblock %}

{% block javascript %}
	{% load staticfiles %}
	<script src="{% static 'js/jquery-2.1.1.min.js' %}"></script>
	<script src="{% static 'js/jquery-ui-1.11.2/jquery-ui.min.js' %}"></script>
	<script src="{% static 'twitter_bootstrap/js/transition.js' %}"></script>
	<script src="{% static 'js/main.js' %}"></script>
	<script src="{% static 'js/handlers.js' %}"></script>
	<script src="{% static 'bootstrap-3.2.0-dist/js/bootstrap.js' %}"></script>
	<script src="{% static 'js/companies.js' %}"></script>
	<script src="{% static 'js/contacts.js' %}"></script>
	<script src="{% static 'js/validation.js' %}"></script>
{% endblock %}