{% extends "../../jam/templates/jam/index/base.html" %}

 {% block header %}
  <header class="navbar navbar-fixed-top">
    {% include "jam/nav/login-nav.html" %}
  </header>
{% endblock %}


{% block content %}
     <div class="vertical-center" "container">
    {% if validlink %}
        <p><h1>Reset password.</h1>
        </p>
        <form action="" method="post">
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
                <p>
                    {{ form.new_password1.errors }}
                <label for="id_new_password1">New password:</label>
                {{ form.new_password1 }}
              </p>
              <p>
                <label for="id_new_password2">Confirm password:</label>
                {{ form.new_password2 }}
              </p>
              <button type="submit" value="Change my password">Change my password</button>
        </form>
    {% else %}
        <h1>Password reset unsuccessful</h1>
        <p>The password reset link was invalid, <br />
        possibly because it has already been used. <br />
        Please request a new password reset.</p>
    {% endif %}
    </div>

{% endblock %}


