{% comment %}
  Password Changer
{% endcomment %}

{% block head %}
  <title>JAM | Change Password</title>
    <link rel="stylesheet" type="text/css" href="{% static 'account/login.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.css' %}" />

  
{% endblock %}

{% block body %}
  <div class="login">
  <header>
    <h1>JAM</h1>
    <h2>Change Password</h2>
  </header>

  <section>
    

	<form action="" method="post">
		{% csrf_token %}
		  {{ form.as_p }}
		  <input type="submit" value="Change Password">
	  </form> 
  </section>


</div>
{% endblock %}




