{% extends "../../jam/templates/jam/index/base.html" %}

 {% block header %}
  <header class="navbar navbar-fixed-top">
    {% include "jam/nav/login-nav.html" %}
  </header>
{% endblock %}


{% block content %}
<div class="vertical-center container">
	<div class="text-left">
  <h1>Create an account.</h1>

  <form action="" method="post" class="text-left">
	{% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-default btn-primary" value="Create the account">Create the account</button>
  </form> 
</div>
{% endblock %}