{% extends "../../jam/templates/jam/index.html" %}

{% csrf_token %}
{% load staticfiles %}

{% block styles %}
    {% load staticfiles %}
    {{block.super}}
    <link rel="stylesheet" type="text/css" href="{% static 'css/calendar.css' %}" />
{% endblock %}


{% block content %}
<div class="menuBar"></div>
<div>
        <h3>Add Event</h3>

            <a href="{% url 'swingtime-yearly-view' current_datetime.year %}" class="calLink">
                <button>Yearly View</button>
            </a>
            <a href="{% url 'swingtime-monthly-view' current_datetime.year current_datetime.month %}" class="firstLink calLink">
                <button>Monthly View</button>
            </a>
            <a href="{% url 'swingtime-events' %}" class="calLink">
                <button>Event Listing</button>
            </a> 
            <a href="{% url 'swingtime-add-event' %}?dtstart={{ tm.isoformat }}" class="calLink">
                <button class="addEventButton">Add Event</button>
            </a>
</div>
    {{ event_form.non_field_errors }}
    {{ recurring_form.non_field_errors }}
    {% if event_form.errors or recurrence_form.errors %}
    <p class="errorMessage">Please fix any errors.</p>
    {% endif %}
    <form method="post" action="">
    <table>
        <tfoot>
            <tr>
                <td colspan="2"><input type="button" onclick="history.back();" value="Back">
                <input type="submit" value="Submit" /></td>
            </tr>
        </tfoot>
        <tbody>
        {% include "swingtime/event_form_part.html" %}
        {% include "swingtime/recurring_form_part.html" %}
        </tbody>
    </table>
    </form>

{% endblock %}

{% block javascript %}
<script src="{% static 'jam/js/jquery-2.1.1.min.js' %}"></script>
<script src="{% static 'js/events.js' %}"></script>
{% endblock %}