<body>
<div class="container">
    <main role="main">
        {% block navigation %}
        <h2>Events</h2>
        <nav>
            <a href="{% url 'swingtime-monthly-view' current_datetime.year current_datetime.month %}">
                Monthly View</a> &middot; 
            <a href="{% url 'swingtime-yearly-view' current_datetime.year %}">Yearly View</a> &middot; 
            <a href="{% url 'swingtime-events' %}">Event Listing</a>
        </nav>
        {% endblock navigation %}
        {% block main_content %}{% endblock main_content %}
    </main>
    <footer role="contentinfo"></footer>
</div>
</body>