{% extends "../../jam/templates/jam/index.html" %}


{% block styles %}
    {% load staticfiles %}
    {{block.super}}
    <link rel="stylesheet" type="text/css" href="{% static 'css/calendar.css' %}" />
{% endblock %}


{% block content %}
<div class="menuBar"></div>
<div>
            <a href="{% url 'swingtime-yearly-view' current_datetime.year %}" class="calLink">
                <button>Yearly View</button>
            </a>
            <a href="{% url 'swingtime-monthly-view' current_datetime.year current_datetime.month %}" class="firstLink calLink">
                <button>Monthly View</button>
            </a>
            <a href="{% url 'swingtime-events' %}" class="calLink">
                <button class="eventListButton">Events List</button>
            </a> 
            <a href="{% url 'swingtime-add-event' %}?dtstart={{ tm.isoformat }}" class="calLink">
                <button>Add Event</button>
            </a>
</div>

<h3>All Events</h3>
<ul>{% for e in events %}
<li><a href="{{ e.get_absolute_url }}">{{ e }}</a></li>

{% empty %}
<p> You haven't entered any events. Add one <a href="{% url 'swingtime-add-event' %}">here</a>.</p>
{% endfor %}</ul>
<form action="" method="post">
    <input type="button" onclick="history.back();" value="Back">
</form>

{% endblock %}

{% block javascript %}
<script src="{% static 'jam/js/jquery-2.1.1.min.js' %}"></script>
<script src="{% static 'js/events.js' %}"></script>
{% endblock %}
