{% extends "../../jam/templates/jam/index/index.html" %}


{% block styles %}
    {% load staticfiles %}
    {{block.super}}
    <link rel="stylesheet" type="text/css" href="{% static 'css/calendar.css' %}" />
{% endblock %}

{% block content %}
    <div>
            <a href="{% url 'swingtime-yearly-view' current_datetime.year %}" class="calLink">
                <button>Yearly View</button>
            </a>
            <a href="{% url 'swingtime-monthly-view' current_datetime.year current_datetime.month %}" class="firstLink calLink">
                <button>Monthly View</button>
            </a>
            <a href="{% url 'swingtime-events' %}" class="calLink">
                <button>Event Listing</button>
            </a> 
            <a href="{% url 'swingtime-add-event' %}?dtstart={{ tm.isoformat }}" class="calLink">
                <button>Add Event</button>
            </a>
</div>
		<h3> Edit event details
		</h3>
		
		{% if owned %}
			<form action="" method="POST">
			<table>
				<tfoot>
					<tr>
						<td colspan="2">
							<input type="button" onclick="history.back();" value="Back">
							<input type="submit" name="_delete" value="Delete" onclick="return confirm('Are you sure you want to delete this event?')"/>
							<input type="submit" name="_update" value="Update" />
						</td>
					</tr>
				</tfoot>
				<tbody>
				{% include "swingtime/event_form_part.html" %}
				</tbody>
			</table>
			</form>
		{% else %}
			 <dt>Event:</dt>
			 <dd>{{ event.title }}</dd>
			 
			 <dt>Event type:</dt>
			 <dd>{{ event.event_type }}</dd>
			 
			 <dt>Description:</dt>
			 <dd>{{ occurrence.event.description|default:"None" }}</dd>
			
			
		{% endif %}	
   
    {% if event.occurrence_set.count %}
    
        {% for o in event.occurrence_set.all %}
        
            {% if o.start_time.date == o.end_time.date %}
            <a href="{% url 'swingtime-occurrence' event.id o.id %}">
                Back to Event</a>
            {% else %}
            <a href="{% url 'swingtime-occurrence' event.id o.id %}">
                Back to Event</a>
            {% endif %}
        {% endfor %}
    {% else %}
    {% endif %}
{% endblock %}

	
{% block javascript %}
{{ block.super }}
<script src="{% static 'js/events.js' %}"></script>
{% endblock %}
