{% extends "../../jam/templates/jam/index.html" %}


{% block styles %}
    {% load staticfiles %}
    {{block.super}}
    <link rel="stylesheet" type="text/css" href="{% static 'css/calendar.css' %}" />
{% endblock %}

{% block content %}
	
    <h3>Event Details</h3>
    <div>
        <h3>Add Event</h3>

            <a href="{% url 'swingtime-yearly-view' current_datetime.year %}" class="calLink">
                <button>Yearly View</button>
            </a>
            <a href="{% url 'swingtime-monthly-view' current_datetime.year current_datetime.month %}" class="firstLink calLink">
                <button>Monthly View</button>
            </a>
            <a href="{% url 'swingtime-events' %}" class="calLink">
                <button>Event Listing</button>
            </a> 
            <a href="{% url 'swingtime-add-event' %}?dtstart={{ tm.isoformat }}" class="calLink">
                <button>Add Event</button>
            </a>
</div>
    <form action="" method="post">
    <table>
        <tfoot>
            <tr>
                <td colspan="2">
                	<input type="button" onclick="history.back();" value="Back">
                    <input type="button" name="eventDelete" value="Delete" onclick="return confirm('Are you sure you want to delete this event?')"/>
                    <input type="submit" name="_update" value="Update" />
                </td>
            </tr>
        </tfoot>
        <tbody>
        {% include "swingtime/event_form_part.html" %}
        </tbody>
    </table>
    </form>
    
    <h4>Notes</h4>
    {% with event.notes.all as notes %}
    {% if notes %}
    <ul>
        {% for note in notes %}
        <li>{{ note }}</li>
        {% endfor %}
    </ul>
    {% else %}
    <p>None</p>
    {% endif %}
    {% endwith %}

    <h4>Occurrences</h4>
    {% if event.occurrence_set.count %}
    <ol>
        {% for o in event.occurrence_set.all %}
        <li>
            {% if o.start_time.date == o.end_time.date %}
            <a href="{% url 'swingtime-occurrence' event.id o.id %}">
                {{ o.start_time|date:"l, F jS, Y" }} {{ o.start_time|date:"P" }} &ndash; {{ o.end_time|date:"P" }}</a>
            {% else %}
            <a href="{% url 'swingtime-occurrence' event.id o.id %}">
                {{ o.start_time|date:"l, F jS, Y P" }} &ndash; 
                {{ o.end_time|date:"l, F jS, Y P" }}</a>
            {% endif %}
        </li>
        {% endfor %}
    </ol>
    {% else %}
    {% endif %}
    
    <h4>Add Occurrences</h4>
    <form action="" method="post">
    <table>
        <tfoot>
            <tr>
                <td colspan="2"><input type="submit" name="_add" value="Add" /></td>
            </tr>
        </tfoot>
        <tbody>
        {% include "swingtime/recurring_form_part.html" %}
        </tbody>
    </table>
    </form>
    </form>
{% endblock %}

	
{% block javascript %}
{{ block.super }}
<script src="{% static 'js/events.js' %}"></script>
{% endblock %}
