{% extends "../../jam/templates/jam/index.html" %}


{% block styles %}
    {% load staticfiles %}
    {{block.super}}
    <link rel="stylesheet" type="text/css" href="{% static 'css/calendar.css' %}" />
{% endblock %}


{% block content %}
    
    <div class="eventSidebar">
        <h3 id="filterTitle"> Filters </h3>
        <form name="filters" method="POST">
            {% csrf_token %} 
            <input type="checkbox" name="Interviews" value="Interviews" checked="true"> Interviews</input> <br />
            <input type="checkbox" name="Career Fairs" value="true" checked="true"> Career Fairs</input> <br />
            <input type="checkbox" name="Info Sessions" value="true" checked="true"> Info Sessions</input> <br />
            <input type="checkbox" name="Other" value="true" checked="true"> Other</input> <br />
            <input value="Update" type="submit" />
        </form>
    </div>

    <div class="backgroundCalendar">
        <div class="calHeader">
            <h4 class="monthlyTitle"> 
                {{ this_month|date:"F" }}
                <a title="View {{ this_month.year}}" href="{% url 'swingtime-yearly-view' this_month.year %}">
                    {{ this_month|date:"Y" }}</a>
                <a href="{% url 'swingtime-monthly-view' last_month.year last_month.month %}" 
                   title="Last Month">&larr;</a>
				<a href="{% url 'swingtime-monthly-view' next_month.year next_month.month %}" 
                   title="Next Month">&rarr;</a>
            </h4>

            <a href="{% url 'swingtime-yearly-view' current_datetime.year %}" class="calLink">
                <button>Yearly View</button>
            </a>
             <a href="{% url 'swingtime-monthly-view' current_datetime.year current_datetime.month %}" class="firstLink calLink">
                <button class="monthlyViewButton">Monthly View</button>
            </a>
            <a href="{% url 'swingtime-events' %}" class="calLink">
                <button>Event Listing</button>
            </a> 
            <a href="{% url 'swingtime-add-event' %}?dtstart={{ tm.isoformat }}" class="calLink">
                <button>Add Event</button>
            </a>
        </div>

            <table class="month-view">
                <thead>
                    <tr>
                        <th>Sun</th><th>Mon</th><th>Tue</th><th>Wed</th><th>Thu</th><th>Fri</th><th>Sat</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in calendar %}
                    <tr>
                        {% for day,items in row  %}
                        <td{% ifequal day today.day %}{% ifequal this_month.month today.month %} class="today"{% endifequal %}{% endifequal %}>
                        {% if day %}
                            <div class="day-ordinal">
                                <!--<a href="{% url 'swingtime-daily-view' this_month.year this_month.month day %}">-->
                                {{ day }}<!--</a>-->
                            </div>
                            {% if items %}
                            <ul class="eventBullet">
                                {% for item in items %}
                                <li>
                                    <a href="{{ item.get_absolute_url }}">
                                        <span class="event-times">{{ item.start_time|time }}</span>
                                        {{ item.title }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                        {% endif %}
                        </td>
                        {% endfor %}
                    </tr>
                    {% empty %}
                        <p> You don't have any events. </p>
                    {% endfor %}
                </tbody>
            </table>
    </div>
{% endblock %}

{% block javascript %}
<script src="{% static 'jam/js/jquery-2.1.1.min.js' %}"></script>
<script src="{% static 'js/events.js' %}"></script>
{% endblock %}
