{% extends "../../jam/templates/jam/index/index.html" %}


{% block styles %}
    {% load staticfiles %}
    {{block.super}}
    <link rel="stylesheet" type="text/css" href="{% static 'css/calendar.css' %}" />
{% endblock %}

{% block content %}
	<h3>Event View</h3>
     <h4>
        <p>{{ occurrence.title }}</p>
		<p>
        {% with occurrence.start_time as st  %}
            {{ st|date:"l, F jS: P" }}
        {% endwith %} -
		{% with occurrence.end_time as st  %}
            {{ st|date:"P" }}
        {% endwith %}</p>
	</h4>
     <dl>
         <dt>Event type:</dt>
         <dd>{{ occurrence.event.event_type }}</dd>
         
         <dt>Companies:</dt>
         <dd>{{ occurrence.event.description|default:"None" }}</dd>
			
		 <dt><a href="{{occurrence.event.get_absolute_url}}">Edit Event Details</a></dt>
	 </dl>
     
	 
	{% if owned %}
	 
		 <form action="" method="POST">
		{% csrf_token %}
		 <table>
			 <tfoot>
				 <tr>
					 <td colspan="2">
						<input type="button" onclick="history.back();" value="Back">
						<input type="submit" value="Update" />
					</td>
				 </tr>
			 </tfoot>
			 <tbody>
				 {{ form }}
			 </tbody>
		 </table>
		 </form>
	 {% endif %}
	 
     
     <a href= "{{ google }}" target="_blank"> Sync with Google Calendar </a>

{% endblock %}
	 
	 
{% block javascript %}
{{ block.super }}
<script src="{% static 'js/events.js' %}"></script>
{% endblock %}