ul, li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
	float:left;
}

#header {
	background-color:transparent;
	width: 100%;
	left: 0;
	top:0;
	position: fixed;
}

#topBar {
	padding: 5 10px;
	min-height: 60px;
	/*opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */*/
    color: #4166F5;
    background: rgba(255,255,255, .5);
}

.title {
	color: white;
	font-size: 26px;
	font-weight: bold;
	display: inline;
	padding: 5 20px;
	/*margin-left: 40%; can we generalize this more? Probably*/
}

.subtitle {
	color: white;
	margin-left: 10px;
	padding-top: 14px;
	font-size: 18px;
}

.profileButton {
	background-color: white;
	display: inline;
	width: 10%;
	float: right;
}

#userIcon {
	width: 18%;
	height: 4%;
}


body {
   background: url("images/google_campus.jpg") center center no-repeat;
   background-size: 100% 100%;
}


.centered {
	background-color: transparent;
	display: inline-block;
	height: 300px;
	margin-top: 50px;
	padding-top: 20px;
	text-align: center;
	width: 100%;
}

.addbox {
	background: rgba(255,255,255, .9);
	border: 2px solid #4166F5;
	color: #4166F5;
	display: inline-block;
	height: 80px;
	margin-right: 15px;
	overflow: hidden;
	padding: 15px;
	text-align: center;
	width: 250px;
}

li {
	list-style: none;
	margin: 0 0 0.25em;
	overflow: hidden;
	padding: 0;
	position: relative;
	z-index: 1;
}

li a {
	color: #4166F5;
	text-decoration: none;
}

.add-alt a:before{
	background: #4166F5;
	height: 15px;
	left: 6px;
	margin-top: -7px;
	width: 5px;
}

.add-alt a:after{
	background: #4166F5;
	height: 5px;
	left: 1px;
	margin-top: -2px;
	width: 15px;
}

li:before, li:after, li a:before, li a:after {
	content: "";
	left: 5px;
	position: absolute;
	top: 50%;
}

.overlay {
	background-color: rgba(0,0,0,0.5);
	display: none;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;
}

.modal {
	background-color: white;
	border-radius: 2px;
	border: 1px solid white;
	color: #4166F5;
	height: 300px;
	margin-left: auto;
	margin-right: auto;
	padding: 15px;
	width: 400px;
}

h2 {
	text-align: center;
}

input {
	float: right;
	height: 40px;
	margin: 5px 0 0 0;
	width: 50%;
}

label {
	float: left;
	height: 40px;
	margin: 5px 0 0 0;
	width: 50%;
}

.button {
	color: #4166F5;
	background: #fff;
}

