<div class="table-responsive">
	<table class="table"> 
		<thead> 
			<tr> 
				<th class="col-md-2">Contact name: </th>
				<td>{{ c_name }}</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th>Email:</th> 
				<td>{{ contact_email }}</td>
			</tr>
			<tr>
				<th>Phone Number:</th> 
				<td>{{ phone_number }}</td>
			</tr>
			<tr>
				<th>Employer:</th> 
				<td>{% if employer_exists %}
					<a href="{% url 'companies' employer %}">{{ employer }}</a>
				{% else %}
					{{ employer }}
				{% endif %}
				</td>
			</tr>
			<tr> 
				<th>Notes:</th>
				<td>{{ contact_notes }} </td>
			</tr>
		</tbody>
	</table>
</div>