{% extends "../../jam/templates/jam/index/index.html" %}


{% block styles %}
	{{ block.super }}
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/contacts.css' %}" />
{% endblock %}


{% block content %}
<div class="container"> 
	<form name="contact_form" class="contact_form form-horizontal" method="POST"> 
		{% csrf_token %}
		<div class="form-group"> 
			<label form="name_input" class="col-sm-2 control-label">Name: </label>
			<div class="col-sm-10"> 
				<input id="name_input" class="form-control" name="name" onblur = 'validateName(this.id)' required  />
				<span class="error" name="name_input" style="display:none; background-color: white; color: red"> </span>
			</div>
		</div>
		<div class="form-group"> 
			<label for="phone_number_input" class="col-sm-2 control-label">Phone #: </label>
			<div class="col-sm-10"> 
				<input id="phone_number_input" class="form-control" name="phone" placeholder="(555) 555-5555" onblur="validatePhone()"/>
				<span class ="phone_error_message" style="color:red;"> </span>

			</div>
		</div>
		<div class="form-group">
			<label for="email_input" class="col-sm-2 control-label">Email: </label>
			<div class="col-sm-10">
				<input id="email_input" class="form-control" name="email" placeholder="john.smith@gmail.com" onblur="validateEmailAddress()"/>
				<span class ="email_error_message" style="color:red;"> </span>
			</div>
		</div>
		<div class="form-group">
			<label for="company_input" class="col-sm-2 control-label">Employer: </label>
			<div class="col-sm-10">
				<input id="company_input" class="form-control" name="company" placeholder="Google" onblur = 'validateName(this.id)'required />
				<span class="error" name="company_input" style="display:none; background-color: white; color: red"> </span>

			</div>
		</div>

		<div class="form-group"> 
			<label for="contact_notes_input" class="col-sm-2 control-label">Notes on Contact: </label>
			<div class="col-sm-10">
				<textarea class="form-control" rows="5" id="comment"></textarea>
			</div>
		</div>	

{% endblock %}


<div class="container">
	<div class="row">
		<!--<div class="col-sm-5">-->
			<h2> Contact: {{ contact_name }}</h2> 
		<!--</div>
		<div class="col-sm-7">-->
		<form class="contactInfo" method="POST">
			{% csrf_token %}
			<table>
				<tr>
					<td>
						<label for="name_input">Name: </label>
					</td>
					<td>
						{% if contact_name %}
							<input id="contact_name_input" name="contact_name" value='{{ contact_name }}'/>
						{% else %}
							<input id="contact_name_input" name="contact_name" value='Contact' required/>
						{% endif %}
					</td>
					<td>&nbsp;&nbsp;&nbsp;</td>
				</tr>
				<tr>
					<td>
						<label for="name_input">Email: </label>
					</td>
					<td>
						{% if email %}
							<input id="email_input" name="email" value='{{ email }}'/>
						{% else %}
							<input id="email_input" name="email" placeholder="test@gmail.com" required/>
						{% endif %}
					</td>
				</tr>
				<tr><td>&nbsp;</td></tr>
				<tr>
					<td>
						<label for="name_input">Phone Number: </label>
					</td>
					<td>
						{% if phone_number %}
							<input id="phone_input" name="phone" value='{{ phone_number }}'/>
						{% else %}
							<input id="phone_input" name="phone" placeholder="8005550198" />
						{% endif %}
					</td>
				</tr>
				<tr>
					<td>
						<label for="name_input">Employer: </label>
					</td>
					<td>
						{% if phone_number %}
							<input id="employer_input" name="employer" value='{{ employer }}'/>
						{% else %}
							<input id="employer_input" name="employer" placeholder="Microsoft" />
						{% endif %}
					</td>
				</tr>
				<tr>
					<td class="editTable">
						<label for="name_input">Notes: </label>
					</td>
					<td class="editTable">
						{% if notes %}
							<textarea id="notes_input" rows="2" columns="40" name="notes">{{ notes }}</textarea>
						{% else %}
							<textarea id="notes_input" rows="2" columns="40" name="notes" placeholder="Met at school career fair."></textarea>
						{% endif %}
					</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td>
						<input class="button" type="submit" value="Save"/>
					</td>
				</tr>
			</table>
			<!--</div>-->
		</form>
		</div>
	</div>	
</div>

{% block javascript %}
	<script src="{% static 'js/profile.js' %}"></script>
	<script src="{% static 'js/jquery-2.1.1.min.js' %}"></script>
	<script src="{% static 'twitter_bootstrap/js/transition.js' %}"></script>
	<script src="{% static 'js/main.js' %}"></script>
	<script src="{% static 'js/handlers.js' %}"></script>
	<script src="{% static 'bootstrap-3.2.0-dist/js/bootstrap.js' %}"></script>
{% endblock %}