<div class="table-responsive">
	<table class="table table-contacts"> 
		<thead> 
			<tr> 
				<th class="col-md-3"><h3>Contact Name: </h3></th>
				<td><h3>{{ c_name }}</h3></td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th>Phone Number:</th> 
				<td>{{ phone_number }}</td>
			</tr>
			<tr>
				<th>Email:</th> 
				<td><a href="mailto:{{ contact_email }}">{{ contact_email }}</a></td>
			</tr>
			<tr>
				<th>Employer:</th> 
				<td>{% if employer_exists %}
					<a href="{% url 'companies' employer %}">{{ employer }}</a>
				{% else %}
					{{ employer }}
				{% endif %}
				</td>
			</tr>
			<tr> 
				<th>Notes:</th>
				<td>{{ contact_notes }} </td>
			</tr>
		</tbody>
	</table>
</div>