<div class="table-responsive">
	<table class="table table-contacts"> 
		<thead> 
			<tr> 
				<th class="col-md-3"><h3>Contact Name: </h3></th>
				<td><h3>{{ c_name }}</h3></td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th>Phone Number:</th> 
				<td>{{ phone_number }}</td>
			</tr>
			<tr>
				<th>Email:</th> 
				<td><a href="mailto:{{ contact_email }}">{{ contact_email }}</a></td>
			</tr>
			<tr>
				<th>Employer:</th> 
				<td>{% if employer_exists %}
					<a href="{% url 'companies' employer %}">{{ employer }}</a>
				{% else %}
					{{ employer }}
				{% endif %}
				</td>
			</tr>
			<tr> 
				<th>Notes:</th>
				<td>{{ contact_notes }} </td>
			</tr>
			<tr> 
				<th>
					<form class="goHome" method="POST" action="">
					{% csrf_token %}
						<button class="btn btn-default btn-small" name="back_home" type="submit" value="Back">Back</button>
					</form>
				</th>
				<td>
					<form class="goHome" method="POST" action="">
					{% csrf_token %}
						<a href="../../edit/contact/{{ c_name }}"><button type="submit" name="contact_edit" class="btn btn-default btn-small" value="{{ c_name }}">Edit</button></a>
					</form>
				</td>
			</tr>
		</tbody>
	</table>
</div>