{% extends "../../jam/templates/jam/index.html" %}


{% block styles %}
	{{ block.super }}
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'jam/css/profile.css' %}" />
{% endblock %}


{% block content %}
<div class="container">
	<div class="row">
		<div class="col-sm-5">
			<h2> Company: {{ company_name }}</h2> 
			<h4> Application Deadline: {{ application_deadline }}</h4>
		</div>
		<div class="col-sm-7">
		{% csrf_token %}
		<form class="contactInfo" method="POST">
			<table id="profileTable">
				<tr>
					<td class="profileField">
						<label for="name_input">Company: </label>
						{% if profile %}
							<input id="company_name_input" name="company_name" value='{{ company_name }}'/>
						{% else %}
							<input id="company_name_input" name="company_name" value='{{ company_name }}' required/>
						{% endif %}
					</td>
					<td class="profileField">
						<label for="name_input">Application Deadline: </label>
						{% if profile %}
							<input id="last_name_input" name="last_name" value='{{profile.last_name}}'/>
						{% else %}
							<input id="last_name_input" name="last_name" placeholder="Smith" required/>
						{% endif %}
					</td>
				</tr>
				<tr><td>&nbsp;</td></tr>

				<tr>
						<td class="profileField">
							<input class="button" type="submit" value="Save"/>
						</td>
					</tr>
				</table>
			</div>
		</form>
		</div>
	</div>	
</div>
{% endblock %}

{% block javascript %}
	{{ block.super }}
	<script src="{% static 'jam/js/profile.js' %}"></script>
{% endblock %}
