{% extends "../../jam/templates/jam/index_landing.html" %}

{% load staticfiles %}
{% load notification_custom %}

<!--
{% block styles %}
	{{ block.super }}
	{% load staticfiles %}
		<link rel="stylesheet" type="text/css" href="{% static 'css/companies.css' %}" />
{% endblock %}
-->
{% block side_col %}
	<div>
		<button type="button" class="btn btn-primary company-export">Export my companies</button>
	</div>
	<div class="list-group">
		<form action="" method="POST">
		{% csrf_token %}
		{% for c in companies %}
			<input type="submit" name="company_name" value="{{c}}" class="companyNames"/>
			<input class="button" name="{{ c.name }}" type="submit" value="Delete"  onclick="return confirm('Are you sure you want to delete {{ c }}?')"/>
			<br />
		{% empty %}
			You haven't entered any companies yet.
		{% endfor %}
		</form>
	</div>

	{% include "jam/modal_add_company.html" %}
{% endblock %}

{% block main_col %}
<div id="showCompanyPage">
	{% if show %}
		{% include "jam/company_page.html" %}
			<div>
				<form class="goHome" method="POST" action="">
				{% csrf_token %}
					
				<br />
				<input class="button" name="back_home" type="submit" value="Back"/>
					<a href="../../edit/company/{{ company_name }}"><button style="color:black" type="button">Edit</button></a>

				</form>
			</div>
		{% endif %}

</div>
{% endblock %}


{% block javascript %}
	<script src="{% static 'jam/js/jquery-2.1.1.min.js' %}"></script>
	<script src="{% static 'jam/js/companies.js' %}"></script>
	<script src="{% static 'twitter_bootstrap/js/transition.js' %}"></script>
	<script src="{% static 'js/main.js' %}"></script>
	<script src="{% static 'jam/js/handlers.js' %}"></script>
	<script src="{% static 'bootstrap-3.2.0-dist/js/bootstrap.js' %}"></script>

{% endblock %}
