{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'jam/style.css' %}" />

<div id="overlay" class="overlay">
	<div class="modal">
		Who do you want to add to your graph?
		<form>
			<input name="name_input" placeholder="Nicole Hedley"/>
			<input name="phone_number_input" placeholder="(917) 669-0190"/>
			<input name="email_input" placeholder="nicole.k.hedley.15@dartmouth.edu"/>
		</form>
	</div>
</div>

<div class="title">
	JobApplicationManager
</div>
<div class="subtitle">
	Visualize your job search in a streamlined UI and get hired today!
</div>
<div class="centered">
	<div class="addbox">
		<li id="addcompany" class="add-alt">
			<a>Add a company</a>
		</li>
	</div>
	<div class="addbox">
		<li id="addcontact" class="add-alt">
			<a>Add a contact</a>
		</li>
	</div>
	<div class="addbox">
		<li id="addevent" class="add-alt">
			<a>Add an event</a>
		</li>
	</div>
</div>

<script src="{% static 'jam/handlers.js' %}"></script>