<!DOCTYPE html>
<html lang="en-US">

<head>
	<meta charset="utf-8" />
	<meta name="keywords" content="key, words" />
	<meta name="description" content="description" />

	{% load staticfiles %}
	
	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap-3.2.0-dist/css/bootstrap.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'jam/css/style.css' %}" />

	<!-- <link rel="alternate" title="Website Feed" href="rss.php" type="application/rss+xml" />
	<link rel="icon" href="favicon.ico" type="image/x-icon" /> -->

	<title>JAM</title>
</head>

<body> 

	<nav class="navbar navbar-default navbar-fixed-top transparent" role="navigation">
	  <div class="container-fluid transparent">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="/jam">JobApplicationManager</a>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
	        <li><a href="companies">Companies</a></li>
	        <li><a href="#">Contacts</a></li>
	        <li><a href="calendar">Events</a></li>
	      </ul>
	      <form class="navbar-form navbar-left" role="search">
	        <div class="form-group">
	          <input type="text" class="form-control" placeholder="Search">
	        </div>
	        <button type="submit" class="btn btn-default">Submit</button>
	      </form>
	      <ul class="nav navbar-nav navbar-right rightMargin">
	        <!-- <li><a href="#">Link</a></li> -->
	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
	          	
	          	  <img src="{% static 'jam/css/images/avatar.png' %}" id="userIcon" class="profileBox"></img>
					{{ username }}

		          <ul class="dropdown-menu" role="menu">
		            <li><a href="profile">My Account</a></li>
		            <li><a href="/logout/">Logout</a></li>
		          </ul>
	          </a>
	        </li>
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>


	<section>
		<!-- <div class="col-md-12 hover-slide text-center"> -->
			<div class="centered">
				<div class="addbox">
					<button class="btn btn-primary btn-lg addInfoButton" data-toggle="modal" data-target="#companyModal">
					  Add Company
					</button>
				</div>
				<div class="addbox">
					<button class="btn btn-primary btn-lg addInfoButton" data-toggle="modal" data-target="#contactModal">
					  Add Contact
					</button>
				</div>
				<div class="addbox">
					<button class="btn btn-primary btn-lg addInfoButton" data-toggle="modal" data-target="#eventModal">
					  Add Event
					</button>
				</div>
			</div>
		<!-- </div> -->

		<div id="homepage-carousel" class="carousel slide" data-ride="carousel">
		  <!-- Indicators -->
		  <ol class="carousel-indicators">
		    <li data-target="#homepage-carousel" data-slide-to="0" class="active"></li>
		    <li data-target="#homepage-carousel" data-slide-to="1"></li>
		    <li data-target="#homepage-carousel" data-slide-to="2"></li>
		  </ol>

		  <!-- Wrapper for slides -->
		  <div class="carousel-inner">
		    <div class="item active">
		      <img src="http://www.sanfrancisco.net/pictures/san-francisco.jpg" alt="...">
		    </div>
		    <div class="item">
		      <img src="http://james-brandon.com/wp-content/uploads/2012/03/spaceneedleskyline.jpg" alt="...">
		    </div>
		    <div class="item">
		      <img src="http://www.cubebreaker.com/wp-content/uploads/2014/04/skyline-01-new-york-city.jpg" alt="...">
		    </div>
		  </div>

		  <!-- Controls -->
		  <!-- <a class="left carousel-control" href="#homepage-carousel" role="button" data-slide="prev">
		    <span class="glyphicon glyphicon-chevron-left"></span>
		  </a>
		  <a class="right carousel-control" href="#homepage-carousel" role="button" data-slide="next">
		    <span class="glyphicon glyphicon-chevron-right"></span>
		  </a> -->
		</div>
	</section>



	<!-- Company Modal -->
	<div class="modal fade" id="companyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	        <h4 class="modal-title" id="myModalLabel">New Company</h4>
	      </div>
	      <div class="modal-body">
	        <form class="company_form form-horizontal" method="POST">
				{% csrf_token %}
				<div class="form-group"> 
					<label for="company_name_input" class="col-sm-4 control-label">Company: </label>
					<div class="col-sm-8"> 
						<input id="company_name_input" class="form-control" name="name" placeholder="Google" required />
					</div>
				</div>
				<div class="form-group"> 
					<label for="company_deadline_input" class="col-sm-4 control-label">Application Deadline: </label>
					<div class="col-sm-8">
						<input id="company_deadline_input" class="form-control" name="deadline" placeholder="YYYY-MM-DD"/>
					</div>
				</div>
				<div class="modal-footer">
	        		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<input class="btn btn-primary" type="submit" value="Add New Company"/>
	      		</div>
			</form>
	      </div>
	    </div>
	  </div>
	</div>

	<!-- Contact Modal -->
	<div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	        <h4 class="modal-title" id="myModalLabel">New Contact</h4>
	      </div>
	      <div class="modal-body">
	        <form name="contact_form" class="contact_form form-horizontal" method="POST">
				{% csrf_token %}

				<div class="form-group">
					<label for="name_input" class="col-sm-2 control-label">Name: </label>
					<div class="col-sm-10"> 
						<input id="name_input" class="form-control" name="name" placeholder="Name: eg. John Smith" required />
					</div>
				</div>
				<div class="form-group">
					<label for="phone_number_input" class="col-sm-2 control-label">Phone #: </label>
					<div class="col-sm-10"> 
						<input id="phone_number_input" class="form-control" name="phone_number" placeholder="(555) 555-5555"/>
					</div>
				</div>
				<div class="form-group">
					<label for="email_input" class="col-sm-2 control-label">Email: </label>
					<div class="col-sm-10">
						<input id="email_input" class="form-control" name="email" placeholder="john.smith@gmail.com"/>
					</div>
				</div>
				<div class="form-group">
					<label for="company_input" class="col-sm-2 control-label">Employer: </label>
					<div class="col-sm-10">
						<input id="company_input" class="form-control" name="company" placeholder="Google" required />
					</div>
				</div>
				<div class="modal-footer">
	        		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<input class="btn btn-primary" type="submit" value="Add New Contact"/>
	      		</div>
			</form>
	      </div>
	    </div>
	  </div>
	</div>
	
	<!-- Event Modal -->
	<div class="modal fade" id="eventModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	        <h4 class="modal-title" id="myModalLabel">New Event</h4>
	      </div>
	      <div class="modal-body">
			<form class="event_form form-horizontal" method="POST">
				{% csrf_token %}

				<div class="form-group">
					<label for="event_name_input" class="col-sm-2 control-label">Event: </label>
					<div class="col-sm-10">
						<input id="event_name_input" class="form-control" name="name" placeholder="Google Barbecue" required />
					</div>
				</div>
				<div class="form-group">
					<label for="event_location_input" class="col-sm-2 control-label">Location: </label>
					<div class="col-sm-10">
						<input id="event_location_input" class="form-control" name="name" placeholder="Thayer" />
					</div>
				</div>
				<div class="form-group">
					<label for="event_date_input" class="col-sm-2 control-label">Date: </label>
					<div class="col-sm-10">
						<input id="event_date_input" class="form-control" name="date" placeholder="2014-12-31" required />
					</div>
				</div>
				<div class="form-group">
					<label for="event_start_time_input" class="col-sm-2 control-label">Start Time: </label>
					<div class="col-sm-10">
						<input id="event_start_time_input" class="form-control" name="startTime" placeholder="2:00 PM" required />
					</div>
				</div>
				<div class="form-group">
					<label for="event_end_time_input" class="col-sm-2 control-label">End Time: </label>
					<div class="col-sm-10">
						<input id="event_end_time_input" class="form-control" name="endTime" placeholder="5:00 PM" />
					</div>
				</div>
				<div class="form-group">
				<div class="modal-footer">
	        		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<input class="btn btn-primary" type="submit" value="Add New Event"/>
	      		</div>
			</form>
	      </div>
	    </div>
	  </div>
	</div>

</body>
</html>

<script src="{% static 'jam/js/jquery-2.1.1.min.js' %}"></script>
<!-- <script src="{% static 'djangular/js/django-angular.js' %}"></script> -->
<script src="{% static 'twitter_bootstrap/js/transition.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'jam/js/handlers.js' %}"></script>
<script src="{% static 'bootstrap-3.2.0-dist/js/bootstrap.js' %}"></script>
<script>
	// var my_app = angular.module('MyApp').config(function($httpProvider) {
	//     $httpProvider.defaults.headers.common['X-Requested-With'] = 'XMLHttpRequest';
	// });
	// my_app.config(function($interpolateProvider) {
	//     $interpolateProvider.startSymbol('{$');
	//     $interpolateProvider.endSymbol('$}');
	// });
</script>
<script type="text/javascript">
  $(document).ready(function() {
    $('.carousel').carousel({interval: 7000});
  });
</script>
