  {% load staticfiles %}
    <nav class="navbar navbar-default navbar-fixed-top transparent" role="navigation">
      <div class="container-fluid transparent">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/jam">JobApplicationManager</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="/jam/companies">Companies</a></li>
            <li><a href="/jam/contacts">Contacts</a></li>
            <!--<li><a href="cal">Events</a></li>-->
            <li><a href="{% url 'swingtime-monthly-view' current_datetime.year current_datetime.month %}">
                  Events</a></li>
          </ul>
          <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
          <ul class="nav navbar-nav navbar-right rightMargin">
            <!-- <li><a href="#">Link</a></li> -->
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <img src="{% static 'jam/css/images/avatar.png' %}" id="userIcon" class="profileBox"></img>
            {{ username }}
                <ul class="dropdown-menu" role="menu">
                  <li><a href="profile">My Profile</a></li>
                  <li><a href="account_management">Account</a></li>
                  <li><a href="channels/list">Channels</a></li>
                  <li><a href="/logout/">Logout</a></li>
                </ul>
              </a>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>