<div>	
	{% if is_admin %}
		<p>
			Name: {{ channel_name }} 
		</p>
		<form class="channelInfo" method="POST">
			{% csrf_token %}
			<p>
				<label for="nickname_input">Nickname: </label>
				<input id="nickname_input" name="nickname" value="{{ channel_nickname }}" />
			</p>
			<p>
				<label for="description_input">Description: </label>
				<input id="description_input" name="description" value="{{ channel_description }}" /> 
			</p>
			<input class="button" type="submit" value="Submit Changes"/>
		</form>
		
		{% if channel_status %}
			<p>Status: Public </p>
		{% else %}
			<p>Status: Private </p>
		{% endif %}
		
		<form class="postAdminNote" method="POST">
			{% csrf_token %}
			<p>
				<label for="adminNote_input">New Note: </label>
				<input id="adminNote_input" name="newAdminNote"/>
				<input class="button" type="submit" value="Post"/>
			</p>
		</form>
		
		{% for note in adminNotes.all %}
			<p>{{ note.text }} - {{ note.author }} @ {{ note.created_at }}</p>
		{% endfor %}
		
		{% for subscriber in subscribers.all %}
			<p> {{ subscriber.username }} 
			<form class="removeSubs" method="POST">{% csrf_token %}
				<input class="button" name="{{ subscriber.username }}" type="submit" value="-"/>
				<input class="button" name="back_home" type="submit" value="-"/>
			</form>
			</p>
		{% endfor %}
		
		
		
	{% else %}
		Sorry, according to our records, you are not an admin for this channel.
	{% endif %}
</div>