button {
	background-color: #2D30E3;
	border: 0px solid #29668f;
	color: #ffffff;
	display: block;
	float: right;
	font-size: 10px;
	font-weight: bold;
	padding: 6px 15px;
}

button:hover {
	background-color:#1E90FF;
}

.monthlyTitle {
	font-size: 25px;
	margin: auto;
	width: 80%;
}

.errorMessage {
	color: red;
}

.addEventTitle {
	vertical-align: top;
}

.eventsHeader {
	display: inline; 
	padding: 5px 5px 5px 5px;
}

.eventSidebar {
  	list-style: none;
  	margin: 0;
  	padding-left: 5px;
	position: absolute;
  	top: 60px;
  	width: 250px;
}

.backgroundCalendar table tr th, 
.backgroundCalendar table tr td div {
	color: #428bca; 
}

.update_filters {
	float: left;
	margin-top: 10px;
	padding: 2px 10px;
}

#filterTitle {
	padding-top: 45px;
}

.firstLink {
	margin-left: 68%;
}

table.month-view {
	border-collapse: collapse;
	margin: auto;
}

.month-view { 
	color: #2D30E3;
	width: 75%; 
}

.month-view td { 
	border: 1px solid black;
	height: 6em; 
	padding: 3px;
	vertical-align: top; 
}

.month-view td,
.month-view th {
	width: 14.285%;
}

.month-view .day-ordinal {
	font-size: 1.1em;
	font-weight: bold;
	text-align: right;
}

.month-view ul {
	margin: 1px 2px;
	padding-left: 1em;
	padding: 0;
}

.month-view li {
	font-size: .9em;
}

.month-view .today {
	background-color: #E0B1B3;
}

.month-divider th,
.month-divider td {
	border-top: 3px solid #8e8f80;
}

.monthlyViewButton,
.yearlyViewButton,
.addEventButton,
.eventListButton {
	background-color: gray;
	color: white;
}

.table-body {
	color: #2D30E3;
}

ul.eventBullet {
	list-style-type: none;
}

.recurrenceOptions{
	display: none;
}

.table-events thead tr th, 
.table-events tbody tr th {
	border: none;
	text-align: right; 
}

.table-events thead tr td, 
.table-events tbody tr td {
   border: none; 
   white-space: nowrap; 
   width: 100%;
}

.event-times {
	color: black;
}
