.monthlyTitle {
	/*text-align: center;*/
	width: 80%;
	margin: auto;
	font-size: 25px;
}

.errorMessage {
	color: red;
}

.addEventTitle {
	vertical-align: top;
}

.eventsHeader {
	display: inline; 
	padding: 5px 5px 5px 5px;
}

.eventSidebar {
	position: absolute;
  	top: 60px;
  	width: 250px;
  	list-style: none;
  	margin: 0;
  	padding-left: 5px;
}

/*.backgroundCalendar a button {
	background-color: #428bca; 
}*/


.backgroundCalendar table tr th, 
.backgroundCalendar table tr td div {
	color: #428bca; 
}

.update_filters {
	padding:2px 10px;
	float:left;
	margin-top:10px;
}

#filterTitle {
	padding-top: 45px;
}

.firstLink {
	margin-left: 68%;
}

table.month-view {
	border-collapse: collapse;
	margin: auto;
}
.month-view { 
	width: 75%; 
	color: #2D30E3;
}
.month-view td { 
	vertical-align: top; 
	height: 6em; 
	border: 1px solid black;
	padding: 3px;
	}
    .month-view td, .month-view th { width: 14.285%; }
    .month-view .day-ordinal { font-weight: bold; font-size: 1.1em; text-align: right; }
    .month-view ul { margin: 1px 2px; padding: 0; padding-left: 1em; }
    .month-view li { font-size: .9em; }
    .month-view .today { background-color: #E0B1B3; }
    .month-view .event-times {  }
.month-divider th, .month-divider td { border-top: 3px solid #8e8f80; }

.monthlyViewButton {
	background-color: gray;
	color: white;
}

.yearlyViewButton {
	background-color: gray;
	color: white;
}

.addEventButton {
	background-color: gray;
	color: white;
}

.eventListButton {
	background-color: gray;
	color: white;
}

.table-body {
	color: #2D30E3;

}

ul.eventBullet {
 list-style-type: none;
 }

button {
	background-color:#2D30E3;
	border:0px solid #29668f;
	display:block;
	color:#ffffff;
	font-size:10px;
	font-weight:bold;
	padding:6px 15px;
	float:right;
}
button:hover {
	background-color:#1E90FF;
}

.recurrenceOptions{
	display: none;
}

.table-events thead tr th, 
.table-events tbody tr th {
	border:none;
	text-align: right; 
}

.table-events thead tr td, 
.table-events tbody tr td {
   width:100%;
   white-space: nowrap; 
   border: none; 
}

.event-times {
	color: black;
}
