.monthlyTitle {
	/*text-align: center;*/
	width: 80%;
	margin: auto;
}

.errorMessage {
	color: red;
}

.addEventTitle {
	vertical-align: top;
}

.eventsHeader {
	display: inline; 
	padding: 5px 5px 5px 5px;
}

.firstLink {
	margin-left: 68%;
}

table.month-view {
	border-collapse: collapse;
	margin: auto;
}
.month-view { 
	width: 80%; 
	color: #2D30E3;
}
.month-view td { 
	vertical-align: top; 
	height: 6em; 
	border: 1px solid black;
	padding: 3px;
	}
    .month-view td, .month-view th { width: 14.285%; }
    .month-view .day-ordinal { font-weight: bold; font-size: 1.1em; text-align: right; }
    .month-view ul { margin: 1px 2px; padding: 0; padding-left: 1em; }
    .month-view li { font-size: .9em; }
    .month-view .today { background-color: #E0B1B3; }
    .month-view .event-times {  }
.month-divider th, .month-divider td { border-top: 3px solid #8e8f80; }

.monthlyViewButton {
	background-color: gray;
	color: white;
}

.yearlyViewButton {
	background-color: gray;
	color: white;
}

.addEventButton {
	background-color: gray;
	color: white;
}

.eventListButton {
	background-color: gray;
	color: white;
}

.table-body {
	color: #2D30E3;

}

ul.eventBullet {
 list-style-type: none;
 }

 .activeButton {
 	color: black;
 }