.companies_names_list {
	margin-top: 5px;
	width: 100%;
}

.company_name_in_list {
	width:100%;
	vertical-align: center;
	float: left;
	margin-right: 10px;
}

.complete_checkbox {
	float:left; 
	margin-left:15px;
}

.export_company_btn {
	float:left;
}

.companyNames {
	border: 0; 
	background: transparent;
	font-size: 20px;
	vertical-align: middle;
}

.editButton {
	color: black;
}

.company_submit_btn {
	margin-top: 5px;
	width: 100%;
	float: left;
}

.complete_text {
	margin-left: 5px;
	float: right;
}

.company-export {
	margin-top: 40px;
}

.table-companies thead tr th, .table-companies tbody tr th {
	text-align: right;
	border: none;
	font-size: 18px;
}

.table-companies thead tr td, .table-companies tbody tr td {
	width: 100%;
	white-space: nowrap;
	border: none;
	font-size: 18px;
}

.companies_form label {
	font-size:18px; 
	vertical-align: middle; 
}

.companies_form div input, .companies_form div textarea {
	font-size: 16px;
}

.btn-small {
	padding:2px 10px;
}