.companies_names_list {
	margin-top: 5px;
	width: 100%;
}

.company_name_in_list {
	vertical-align: center;
	float: left;
	margin-right: 10px;
}

.companyNames {
	border: 0; 
	background: transparent;
	font-size: 20px;
}

.editButton {
	color: black;
}

.company_submit_btn {
	margin-top: 5px;
	width: 100%;
	float: left;
}

.complete_text {
	margin-left: 5px;
	float: right;
}

.company-export {
	margin-top: 40px;
}

.table-companies thead tr th, .table-companies tbody tr th {
	text-align: right;
	border: none;
	font-size: 18px;
}

.table-companies thead tr td, .table-companies tbody tr td {
	width: 100%;
	white-space: nowrap;
	border: none;
	font-size: 18px;
}
