.contactNames {
	border: 0; 
	background: transparent;
	font-size: 20px;
}

.editButton {
	color: black;
}

.editTable {
	padding-bottom: 1em;
}

.table-contacts td {
	width:100%;
	white-space: nowrap; 
}