.contact_names_list {
	margin-top: 5px;
}

.contactNames {
	background: transparent;
	border: 0; 
	font-size: 20px;
	vertical-align: middle; 
}

.editButton {
	color: black;
}

.editTable {
	padding-bottom: 1em;
}

.table-contacts thead tr th,
.table-contacts tbody tr th {
	border: none;
	font-size: 16px;
	text-align: right; 
}

.table-contacts thead tr td,
.table-contacts tbody tr td {
	border: none;
	font-size: 16px;
	white-space: nowrap; 
	width: 100%;
}

.contact_form label {
	vertical-align: middle;
}

.contacts-export {
	margin-top: 40px;
}
