.table-profile thead tr th {
	border: none;
} 
.table-profile tbody tr th {
	border: none;
	float: right;
	font-size: 16px;
}

.table-profile tbody tr td {
	border: none;
	font-size: 16px;
}

.profile-header {
	background: gray;
	height: 300px;
	margin: 0px;
}

.banner-picture {
	background: url("http://www.addcovers.com/covers/8hy3o29c04v4fc0.jpg") center no-repeat;
	height: 250px;
	margin: 0px;
   	background-size: cover;
   	position: relative;
}

.profile-picture-container {
	float: right;
	margin-top: 130px;
	padding: 5px;
	width: 150px;
    height: 150px;
    overflow: hidden;   
}

.profile-picture {
	width: 250px;
    height: 150px;
    margin: 0px 0px 0px -20px;
}

.profile-bar {
	height: 290px;
	position: relative;
}

.profile-name {
	bottom: 0px;
	position: absolute;
}

.title {
	color: white;
	font-size: 32px;
	font-weight: bold;
	text-align: center;
}

.centered {
	background-color: white;
	display: inline-block;
	height: 100%;
	margin-top: 350px;
	text-align: center;
	width: 100%;
}

h2 {
	color: #4166F5;
}

.fieldTitle {
	text-align: center;
}

.profileField {
	text-align: right;
}

.profileInfo {
	text-align: center;
}

#profileTable {
	display: inline;
}

.profile-form label {
	font-size: 16px;
}

@media screen and (max-width: 1000px){

}

@media screen and (max-width: 768px){
	.banner-picture {
		height: 10em;
	}
}
