ul, li {
    list-style-type: none;
    margin: 0;
    padding: 0;
} 

html, body {
	background-color: #f5f5f5 !important;
	height: 100%;
}


.vertical-center {
	 margin: auto;
	 position: absolute;
	 top: 0; left: 0; bottom: 0; right: 0;
	 height: 50%;
	 text-align: center;
}

.page-wrap {
	height: 100%;	
	height: auto !important;
	margin: 0 auto -45px;
	min-height: 100%;
}

.push, .footer {
	height: 45px;
}

.transparent {
	background: rgba(255,255,255, .5);
}

.title {
	color: white;
	display: inline;
	float: left;
	font-size: 26px;
	font-weight: bold;
	padding: 5px 20px;
}

.subtitle {
	color: white;
	font-size: 18px;
	margin-left: 10px;
	padding-top: 14px;
}


a:link, a:visited {
	color: #209cc1;
}

#userIcon {
	margin-top: -9px;
	margin-bottom: -7px;
	width: 47px;
	height: 40px;
}

/******* Add New Company, Contact, Event, Channel Buttons *******/
.addbox {
	background: rgba(255,255,255, .7);
	border-radius: 50%;
	border: 2px solid #4166F5;
	color: #4166F5;
	display: inline-block;
	height: 150px;
	margin: 0px 10px;
	overflow: hidden;
	text-align: center;
	width: 250px;
}

.addCircle {
	background: rgba(255,255,255, .7);
	border: 2px solid #4166F5;
	color: #4166F5;
	display: inline-block;
	height: 150px;
	margin: 0px 10px;
	overflow: hidden;
	text-align: center;
	width: 250px;
}

.buttons-bottom {
	position: relative;
}

.buttons-bottom-align {
	margin-right: 20px;
}

.round-button {
    border-radius: 50%;
    border: 2px solid #fbfafa;
    overflow: hidden;
    background: #ebe6e3;
    box-shadow: 0 0 3px gray;
    height: 0;
    margin: 0px 2px;
    overflow: hidden;
    padding-bottom: 55px;
    width: 60px;
}

.round-button:hover {
    background: #5ea6d9;
    cursor:pointer;
}

.round-button img {
    display: block;
    height: auto;
    padding: 0px;
    width: 100%;
}

/******* Top Nav Bar *******/
.navbar-nav.navbar-right:last-child {
	margin-right: 0px; 
}

.navbar-default .navbar-nav > li > a {
	color: #ebe6e3;
}

.navbar-default {
	background-color:#5ea6d9;
	border-color: #5ea6d9;
}

.navbar-default a {
	color:blue;
}

.navbar-default .navbar-brand {
	color: #f6f3f2;
}

.navbar-default .navbar-brand:hover {
	color: #fbfafa;
}

.navbar {
	min-height: 9vh; 
}

.menuBar {
	height: 9vh;
}

/******* Container *******/
.container-fluid {
	padding-left: 20px; 
	padding-right: 20px; 
}


.newsfeed-bar {
	overflow: hidden;
	z-index: 100;
}

.newsfeed-scroll {
	height: 100%;
	overflow: auto;
	width: 100%;
}

.divider {
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
}

.divider:after {
    background-color: #000;
    content: " ";
    display: inline-block;
    height: 1px;
    margin: 0 0 3px 15px;
    text-shadow: none;
    width: 140px;
}

.divider:before {
    background-color: #000;
    content: " ";
    display: inline-block;
    height: 1px;
    margin: 0 15px 3px 0;
    text-shadow: none;
    width: 140px;
}

.inputFileForm {
	margin-top: 15px;
}

.btn {
	position: relative;
	z-index: 200;
}

.btn-small {
	padding: 2px 10px;
}

.navbar-fixed-bottom {
	z-index: 100;
}

.col-sm-3 {
	padding-bottom: 5px;
}

.col-sm-9 {
	padding-bottom: 15px;
}

.container-fluid {
	padding-left:0px;
}

.left-bar {
	background-color:#bddbef;
	border-right:1px solid #c8c8c8; 
	height:91vh; 
	overflow:auto;
}

.little-margin {
	margin-top: 10px;
}

.details-body {
	height: 91vh;
	background-color: #f5f5f5;
	overflow:auto;
}

.table-channel thead tr th,
.table-channel tbody tr th {
	border: none;
	text-align: right; 
}

.table-channel thead tr td,
.table-channel tbody tr td {
	border: none;
	white-space: nowrap; 
	width: 100%;
}

@media screen and (max-width: 768px){
	.menuBar{
		height: 50px;
	}

	.details-body {
		float: left; 
	}
}