{% load staticfiles %}
<!-- Company Modal -->
<div class="modal fade" id="companyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">New Company</h4>
      </div>
      <div class="modal-body">
        <form name="company_form" class="company_form form-horizontal" method="POST">
			{% csrf_token %}
			<div class="form-group"> 
				<label for="company_name_input" class="col-sm-4 control-label">Company: </label>
				<div class="col-sm-8"> 
					<input id="company_name_input" class="form-control" name="name" required placeholder="Google" onblur="validateName(this.id)"/>
					<span class="error" name="company_name_input" style="display:none; background-color: white; color: red"> </span>

				</div>
			</div>
			<div class="form-group"> 
				<label for="company_deadline_input" class="col-sm-4 control-label">Application Deadline: </label>
				<div class="col-sm-8">
					<input id="company_deadline_input" class="form-control" required name="deadline" placeholder="YYYY-MM-DD" onblur="validateDeadline()"/>
					<span class="error-message" style="display:none; color:red;"> {{ validity }} </span>
				</div>
			</div>
			<div class="form-group"> 
				<label for="contact_notes_input" class="col-sm-4 control-label">Notes on Company: </label>
				<div class="col-sm-8">
					<textarea class="form-control" rows="3" id="comment"></textarea>
				</div>
			</div>	

			<div class="divider">
			or
			</div>
			<div class="form-group inputFileForm"> 
				<label for="multiple_companies" class="col-sm-4 control-label">Upload Multiple: </label>
				<div class="col-sm-8">
					{{ form.filep }}
				</div>
			</div>
			<div class="modal-footer">
				<input class="btn btn-primary" type="submit" value="Add New Company"/>
				<br> 
				<span class="server-error" style="color:red">{{ error }}</span>
      		</div>
		</form>
      </div>
    </div>
  </div>
</div>

{% block javascript %}
	<script src="{% static 'js/jquery-2.1.1.min.js' %}"></script>
	<script src="{% static 'twitter_bootstrap/js/transition.js' %}"></script>
	<script src="{% static 'js/main.js' %}"></script>
	<script src="{% static 'js/validation.js' %}"></script>
{% endblock %}