{% load staticfiles %}
<!-- Channel Modal -->
<div class="modal fade" id="channelModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">New Channel</h4>
		
      </div>
      <div class="modal-body">
		{% if controlled_channels.all|length == 0 %}
			<p style="font-style: italic;">Channels allow you to share information with other users. If you create a public channel, anyone can join and see information
			you post. Users must request to join a private channel. If you don't have anything to share, try checking out existing channels 
			<a href="/jam/channels/list">here</a>!</p> 
		{% endif %}
		
		
      	{{ errors }}
        <form name="channel_form" class="channel_form form-horizontal" method="POST" >
			{% csrf_token %}
			<div class="form-group"> 
				<label for="name_input" class="col-sm-4 control-label">Channel Name: </label>
				<div class="col-sm-8"> 
					<input id="channel_name_input" class="form-control" name="channel_name" placeholder="Women in Computer Science"required/>
					<span class="error" name="channel_name_input" style="display:none; background-color: white; color: red"> </span>

				</div>
			</div>
			<div class="form-group"> 
				<label for="moniker_input" class="col-sm-4 control-label">Nickname: </label>
				<div class="col-sm-8">
					<input id="moniker_input" class="form-control" name="moniker" placeholder="WiCS" required/>
					<span class="error" name="moniker_input" style="display:none; background-color: white; color: red"> </span>

				</div>
			</div>
			<div class="form-group"> 
				<label for="description_input" class="col-sm-4 control-label">Description: </label>
				<div class="col-sm-8">
					<input id="description_input" class="form-control" name="description" placeholder="The best" required/>
					<span class="error" name="description_input" style="display:none; background-color: white; color: red"> </span>

				</div>
			</div>
			<div class="form-group"> 
				<label for="category_input" class="col-sm-4 control-label">Categories (separate with commas): </label>
				<div class="col-sm-8">
					<input id="category_input" class="form-control" name="category_names"/>
				</div>
			</div>
			<div class="form-group"> 
				<label for="is_public_input" class="col-sm-4 control-label">Public? </label>
				<div class="col-sm-8">
					<input id="is_public_input" type="radio" name="is_public" value="True" checked/> Yes  
					<input id="is_public_input" type="radio" name="is_public" value=""/> No
				</div>
			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<input class="btn btn-primary channel-btn" type="submit" value="Add New Channel"/>
				<br> 
				<span class="server-error" style="color:red">{{ error }}</span>
      		</div>
		</form>
      </div>
    </div>
  </div>
</div>

