{% load staticfiles %}
<!-- Company Modal -->
<div class="modal fade" id="importCompanyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
    	<div class="modal-header">
        	<h4 class="modal-title" id="myModalLabel">Import Company CSV file</h4>
        	<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>

      	</div>
      <div class="modal-body">

      	<form name="company_import_form" class="form-horizontal" enctype="multipart/form-data" action="http://127.0.0.1:8000/jam/new_company/" method="POST">
		{% csrf_token %}

      	<div class="form-group inputFileForm"> 
			<label for="multiple_companies" class="col-sm-4 control-label">Upload Multiple: </label>
				<div class="col-sm-8">
					{{ upload_form.filep }}
				</div>
		</div>
		
		<div id="format_reminder"class="form-group">
				<p style="text-align:center;" >
					Please make sure your file is a .txt file in the proper format:<br>
					[Name of Company], [Application Deadline]
				</p>
		</div>

		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			<input class="btn btn-primary company-btn" type="submit" value="Add New Companies"/>
			<br> 
			<span class="server-error" style="color:red">{{ error }}</span>
      	</div>

		</form>
		</div>

      </div>
    </div>
  </div>
</div>

{% block javascript %}
	<script src="{% static 'js/jquery-2.1.1.min.js' %}"></script>
	<script src="{% static 'twitter_bootstrap/js/transition.js' %}"></script>
	<script src="{% static 'js/main.js' %}"></script>
	<script src="{% static 'js/handlers.js' %}"></script>
{% endblock %}