<!-- Event Modal -->

{% load staticfiles %}

{% block content %}

<div class="modal fade" id="eventModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
    	<div class="modal-header">
        	<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        	<h4 class="modal-title" id="myModalLabel">New Event</h4>
      	</div>

    	<div class="modal-body">
    		<form name="event_form" class="event_form form-horizontal" method="POST">
    			{% csrf_token %}
			<!--<iframe src="{% url 'swingtime-add-event' %}" name="targetframe" allowTransparency="true" scrolling="yes" frameborder="0" id="addEventModal"> </iframe>-->
			<div class="form-group">
				<label for="event_type_input" class="col-md-4 control-label">Event Type: </label>
				<div class="col-md-8"> 
					<select name="eventType">
		                <option value="interview">Interview</option>
		                <option value="careerFair">Career Fair</option>
		                <option value="infoSession">Info Session</option>
		                <option value="other">Other</option>
	        		</select>
        		</div>
			</div>

			<div class="form-group">
				<label for="name_input" class="col-md-4 control-label">Event Name: </label>
				<div class="col-md-8"> 
					<input id="name_input" class="form-control" name="name" placeholder="Google Tech Interview" onblur = 'validateName(this.id)' required  />
					<span class="error" name="name_input" style="display:none; background-color: white; color: red"> </span>
				</div>
			</div>

			<div class="form-group">
				<label for="description_input" class="col-md-4 control-label">Event Description: </label>
				<div class="col-md-8"> 
					<input id="description_input" class="form-control" name="description" placeholder="At 123 Main Street, bring resume" 8required  />
				</div>
			</div>

			<div class="form-group">
				<label for="event_date_input" class="col-md-4 control-label">Date: </label>
				<div class="col-md-8">
					<input id="event_date_input" class="form-control" name="date" placeholder="2014-12-31" required />
				</div>
			</div>

			<div class="form-group">
				<label for="event_start_time_input" class="col-md-4 control-label">Start Time: </label>
				<div class="col-md-8">
					<input id="event_start_time_input" class="form-control" name="startTime" placeholder="2:00 PM" required />
				</div>
			</div>

			<div class="form-group">
				<label for="event_end_time_input" class="col-md-4 control-label">End Time: </label>
				<div class="col-md-8">
					<input id="event_end_time_input" class="form-control" name="endTime" placeholder="5:00 PM" />
				</div>
			</div>
		</form>
		</div>

		<div class="modal-footer">
        	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			<input class="btn btn-primary event-btn" type="submit" value="Add New Event"/>
			<br />
			<span class="server-error" style="color:red">{{ error }}</span>
      	</div>
      </div>
	</div>
</div>

{% endblock %}

{% block javascript %}
	<script src="{% static 'js/jquery-2.1.1.min.js' %}"></script>
	<script src="{% static 'twitter_bootstrap/js/transition.js' %}"></script>
	<script src="{% static 'js/main.js' %}"></script>
	<script src="{% static 'js/validation.js' %}"></script>
{% endblock %}
