ul, li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.transparent {
	background: rgba(255,255,255, .5);
}

.title {
	color: white;
	font-size: 26px;
	font-weight: bold;
	display: inline;
	padding: 5px 20px;
	float: left;
}

.subtitle {
	color: white;
	margin-left: 10px;
	padding-top: 14px;
	font-size: 18px;
}

a:link, a:visited {
	color: #4166F5;
}

#userIcon {
	width: 35px;
	height: 40px;
}

.rightMargin {
	margin-right:100px;
}

/*#backgroundImage {
   background: url("images/google_campus.jpg") center center no-repeat fixed;
   background-size: cover;
}*/

.carousel { z-index: -99; }

.carousel img {
  top: 0;
  left: 0;
  min-width: 100%;
  /*max-height: 100%;*/
  max-height: 650px;
}


.centered {
	position:absolute;
	top:0px;
	background-color: transparent;
	display: inline-block;
	height: 300px;
	margin-top: 200px;
	text-align: center;
	width: 100%;
}

.addbox {
	background: rgba(255,255,255, .7);
	border: 2px solid #4166F5;
	color: #4166F5;
	display: inline-block;
	height: 150px;
	margin: 0px 10px;
	overflow: hidden;
	/*padding: 15px;*/
	text-align: center;
	width: 250px;
}

.addInfoButton {
	height:100%;
	width: 100%;
	border-radius:0px;
	background: rgba(66,139,202, .9);
}

.formFieldAdd {
	width: 400px;
}

.container {
	width: 60%; 
	margin: 0% 20%;
}

