<div>
	{% if is_admin %}
		<a href="channels/view_as_admin/{{ channel_name }}">Switch to Administrator View</a>
	
	{% endif %}
	
	<p>Name: {{ channel_name }} </p>
	<p>Nickname: {{ channel_nickname }} </p>
	<p>Description: {{ channel_description }} </p>
	
	<form class="leaveChannel" method="POST">
		{% csrf_token %}
		<input class="button" name="Unsubscribe-{{channel_name}}" type="submit" value="Unsubscribe"/>
	</form>
	
	<br>
	<p><b> Recent Notes from Admins: </b></p>
	{% for note in adminNotes.all %}
			<p>{{ note.text }} - {{ note.author }} @ {{ note.created_at }}</p>
	{% endfor %}
	
</div>