{% extends "../../jam/templates/jam/index/index_landing.html" %}

{% block styles %}
	{% load staticfiles %}
	{{ block.super }}
	<!-- <link rel="stylesheet" type="text/css" href="{% static 'account/register.css' %}" /> -->
{% endblock %}


{% block side_col %}
	<h2>Categories</h2>

	{% for category in categories %} 
		<p>
		<form class="search_filters" method = 'POST'>
			{% csrf_token %}
			<input type ="submit" name="search_category" value= "{{ category.name }}" style="border: 0; background:transparent" >
		</p>

	{% endfor %}


	<h2>Search</h2>
	<form class="navbar-form navbar-left" role="search" method='POST'>
		{% csrf_token %}
	    <div class="form-group">
	      <input type="text" class="form-control" name="search" placeholder="Search">
	    </div>
	    <input class="btn btn-default button" type="submit" name="search_button" value="Submit"/>
	</form>

{% endblock %}

{% block main_col %}
	<section class="container-fluid">
		<div class="row">
	        <div class="col-sm-8">
	            <h2>Channels</h2>
				{% for channel in channels %}
					{% if channel in sub_channels%}
						<p> <a href ="{{site}}/jam/channels/view/{{channel.name}}" style="color:black" class="channel_link"> {{ channel.name }} ({{channel.moniker}}) </a></p>
					{% else %}
					<p> <a href ="{{site}}/jam/channels/view/{{channel.name}}" class="channel_link"> {{ channel.name }} ({{channel.moniker}}) </a></p>
					{% endif %}

				{% empty %}
					<p>No channels yet.</p>
				{% endfor %}
	        </div>
	    </div>
    <section>


{% endblock %}
