<div>
	{% if is_admin %}
		<a href="channels/view_as_admin/{{ channel_name }}">Switch to Administrator View</a>
	{% endif %}

	<div class="table-responsive">
		<table class="table table-channel"> 
			<thead> 
				<tr> 
					<th class="col-md-3"><h3>Channel Name: </h3></th>
					<td><h3>{{ channel_name }}</h3></td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th>Nickname:</th> 
					<td>{{ channel_nickname }}</td>
				</tr>
				<tr>
					<th>Description:</th> 
					<td>{{ channel_description }}</a></td>
				</tr>
<!-- 				<tr> 
					<th>
						To unsubscribe:
					</th>
					<td>
						<form class="leaveChannel" method="POST">
							{% csrf_token %}
							<input class="button btn btn-default btn-small" name="Unsubscribe-{{channel_name}}" type="submit" value="Unsubscribe"/>
						</form>
					</td>
				</tr> -->
				{% if adminNotes.all %}
				<tr>
					<th>Recent Notes from Admins:</th>
					<td>
						{% for note in adminNotes.all %}
							{{ note.text }} - {{ note.author }} @ {{ note.created_at }}
						{% endfor %}
					</td>
				</tr>
				{% endif %}
				{% if unadded_e.all %}
				<tr>
					<th>All Events: </th>
					<td> 
						<ul>{% for e in unadded_e.all %}
						<li>{{ e }} -  {{e.event_date}} - {{e.start_time}}</li>
						<form class="addEvent" method="POST">
							{% csrf_token %}
							<input class="button" name="{{e.pk}}-{{channel_name}}" type="submit" value="Add"/>
						</form>
						{% endfor %}
						
						<ul>{% for e in added_e.all %}
						<li><a href="{% url 'events_page' event_id=e.id event_name=e.name %}">{{ e }} - {{e.event_date}} - {{e.start_time}}</a></li>
						{% endfor %}
					</td>
				</tr>	
				{% endif %}
				<tr> 
					<th>
						<form class="goHome" method="POST" action="">
						{% csrf_token %}
							<input class="button btn btn-default btn-small" name="back_home" type="submit" value="Back"/>
						</form>
					</th>
					<td>
						<form class="leaveChannel" method="POST">
							{% csrf_token %}
							<input class="button btn btn-default btn-small" name="Unsubscribe-{{channel_name}}" type="submit" value="Unsubscribe"/>
						</form>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
