{% extends "../../jam/templates/jam/index/index.html" %}

{% block styles %}
    {% load staticfiles %}
    {{block.super}}
{% endblock %}

{% block content %}
	
<div>
	{% if is_admin %}
		<a href="../../view_as_admin/{{ channel_name }}">Switch to Administrator View</a>
	
	{% endif %}
	
	<p>Name: {{ channel_name }} </p>
	<p>Nickname: {{ channel_nickname }} </p>
	<p>Description: {{ channel_description }} </p>
	<p>Categories: 
		{% for c in categories %}
			{{ c }}{% if not forloop.last %},{% endif %} 
		{% endfor %}</p>
	{% if channel_status %}
		<p>Status: Public </p>
	{% else %}
		<p>Status: Private </p>
	{% endif %}
	
	<form class="joinChannel" method="POST">
		{% csrf_token %}
		
		{% if is_subscriber %}
			<p>You are subscribed to this channel!</p>
			<input class="button" name="Unsubscribe" type="submit" value="Unsubscribe"/>
			
			<p style="font-weight: bold;">All Events:</p>
			<ul>{% for e in unadded_e.all %}
			<li>{{ e }} -  {{e.event_date}} - {{e.start_time}}</li>
			<form class="addEvent" method="POST">
				{% csrf_token %}
				<input class="button" name="{{e.pk}}" type="submit" value="Add"/>
			</form>
			{% endfor %}
			
			<ul>{% for e in added_e.all %}
			<li><a href="{% url 'events_page' event_name=e.name %}">{{ e }} - {{e.event_date}} - {{e.start_time}}</a></li>
			
			{% endfor %}
			
		{% elif channel_status %}
			<p>
				<input class="button" name="Subscribe" type="submit" value="Subscribe"/>
			</p>
		{% else %}
			<p>
				<input class="button" type="submit" value="Request to join"/>
			</p>
		{% endif %}	
	</form>
	
	
	
</div>

{% endblock %}

	
{% block javascript %}
{{ block.super }}

{% endblock %}