{% extends "../../jam/templates/jam/index/index.html" %}

{% block styles %}
    {% load staticfiles %}
    {{block.super}}
{% endblock %}

{% block content %}


<div>
	{% if is_admin %}
		<form class="channelInfo form-horizontal" method="POST"> 
			{% csrf_token %}
			<div class="form-group"> 
				<label class="col-md-3 control-label-jam"><h3>Channel Name: </h3></label>
				<div class="col-md-8" > 
					<h3>{{ channel_name }}</h3>
				</div>
			</div>
			<div class="form-group"> 
				<label for="nickname_input" class="col-md-3 control-label">Nickname: </label>
				<div class="col-md-8"> 
					<input class="form-control" id="nickname_input" name="nickname" value='{{ channel_nickname }}' />
				</div>
			</div>
			<div class="form-group"> 
				<label for="description_input" class="col-md-3 control-label">Description: </label>
				<div class="col-md-8">
					<input class="form-control" id="description_input" name="description" value="{{ channel_description }}" />
				</div>
			</div>
			<div class="form-group"> 
				<label class="col-md-3 control-label"></label>
				<div class="col-md-8">
					<input class="button btn btn-default btn-small" type="submit" value="Submit Changes"/>
				</div>
			</div>	
		</form>
		<form class="form-horizontal" class="postAdminNote" method="POST">
			{% csrf_token %}
			<div class="form-group"> 
				<label class="col-md-3 control-label" for="adminNote_input">New Note: </label>
				<div class="col-md-8">
					<input class="form-control" id="adminNote_input" name="newAdminNote"/>
					<input class="button btn btn-default btn-small" type="submit" value="Post" style="margin-bottom:10px;"/>

					{% for note in adminNotes.all %}
					
							<p>{{ note.text }} - {{ note.author }} @ {{ note.created_at }}</p>
						
					{% endfor %}
				</div>
		</form>

		
		
		{% for subscriber in subscribers.all %}
		<form class="form-horizontal removeSubs" method="POST">
			{% csrf_token %}
			<div class="form-group">
				<label class="col-md-3 control-label-jam">{{ subscriber.username }} </label>
				<div class="col-md-8">
					<input class="button btn btn-default btn-small" name="{{ subscriber.username }}" type="submit" value="Remove"/>
					<input class="button btn btn-default btn-small" name="{{ subscriber.username }}" type="submit" value="Make Admin"/>
				</div>
			</div>
		</form>
		{% endfor %}
		<form class="form-horizontal">
			<div class="form-group">
				<label class="col-md-3 control-label-jam">All Events</label>
				<div class="col-md-8"> 
					<ul>{% for e in events.all %}
						<li><a href="{% url 'events_page' event_id=e.id event_name=e.name %}">{{ e }}</a></li>
						{% empty %} No events
						{% endfor %}
				</div>
			</div>
		</form>
		

	{% else %}
		Sorry, according to our records, you are not an admin for this channel.
	{% endif %}
</div>

<!-- <div>	
	{% if is_admin %}
		<p>
			Name: {{ channel_name }} 
		</p>
		<form class="channelInfo" method="POST">
			{% csrf_token %}
			<p>
				<label for="nickname_input">Nickname: </label>
				<input id="nickname_input" name="nickname" value="{{ channel_nickname }}" />
			</p>
			<p>
				<label for="description_input">Description: </label>
				<input id="description_input" name="description" value="{{ channel_description }}" /> 
			</p>
			<input class="button" type="submit" value="Submit Changes"/>
		</form>
		
		
		<form class="postAdminNote" method="POST">
			{% csrf_token %}
			<p>
				<label for="adminNote_input">New Note: </label>
				<input id="adminNote_input" name="newAdminNote"/>
				<input class="button" type="submit" value="Post"/>
			</p>
		</form>
		
		{% for note in adminNotes.all %}
			<p>{{ note.text }} - {{ note.author }} @ {{ note.created_at }}</p>
		{% endfor %}
		
		{% for subscriber in subscribers.all %}
			<p style="display: inline"> {{ subscriber.username }} 
			<form style="display: inline" class="removeSubs" method="POST">{% csrf_token %}
					<input class="button" name="{{ subscriber.username }}" type="submit" value="Remove"/>
					<input class="button" name="{{ subscriber.username }}" type="submit" value="Make Admin"/>
			</form>
			</p>
		{% endfor %}
		
		<h3>All Events</h3>
		<ul>{% for e in events.all %}
		<li><a href="{% url 'events_page' event_id=e.id event_name=e.name %}">{{ e }}</a></li>
		{% empty %} No events
		{% endfor %}
		

		
	{% else %}
		Sorry, according to our records, you are not an admin for this channel.
	{% endif %}
</div> -->

{% endblock %}

	
{% block javascript %}
{{ block.super }}

{% endblock %}