{% extends "../../jam/templates/jam/index/index.html" %}

{% block styles %}
    {% load staticfiles %}
    {{block.super}}
{% endblock %}

{% block content %}
	

<div>	
	{% if is_admin %}
		<p>
			Name: {{ channel_name }} 
		</p>
		<form class="channelInfo" method="POST">
			{% csrf_token %}
			<p>
				<label for="nickname_input">Nickname: </label>
				<input id="nickname_input" name="nickname" value="{{ channel_nickname }}" />
			</p>
			<p>
				<label for="description_input">Description: </label>
				<input id="description_input" name="description" value="{{ channel_description }}" /> 
			</p>
			<input class="button" type="submit" value="Submit Changes"/>
		</form>
		
		
		<form class="postAdminNote" method="POST">
			{% csrf_token %}
			<p>
				<label for="adminNote_input">New Note: </label>
				<input id="adminNote_input" name="newAdminNote"/>
				<input class="button" type="submit" value="Post"/>
			</p>
		</form>
		
		{% for note in adminNotes.all %}
			<p>{{ note.text }} - {{ note.author }} @ {{ note.created_at }}</p>
		{% endfor %}
		
		{% for subscriber in subscribers.all %}
			<p style="display: inline"> {{ subscriber.username }} 
			<form style="display: inline" class="removeSubs" method="POST">{% csrf_token %}
					<input class="button" name="{{ subscriber.username }}" type="submit" value="Remove"/>
					<input class="button" name="{{ subscriber.username }}" type="submit" value="Make Admin"/>
			</form>
			</p>
		{% endfor %}
		
		<h3>All Events</h3>
		<ul>{% for e in events.all %}
		<li><a href="{{ e.get_absolute_url }}">{{ e }}</a></li>
		{% empty %} No events
		{% endfor %}
		

		
	{% else %}
		Sorry, according to our records, you are not an admin for this channel.
	{% endif %}
</div>

{% endblock %}

	
{% block javascript %}
{{ block.super }}

{% endblock %}