{% extends "../../jam/templates/jam/index/index.html" %}

{% block styles %}
    {% load staticfiles %}
    {{block.super}}
{% endblock %}

{% block content %}
	
<div>
	{% if is_admin %}
		<a href="../../view_as_admin/{{ channel_name }}">Switch to Administrator View</a>
	{% endif %}

	<div class="table-responsive">
		<table class="table table-contacts"> 
			<thead> 
				<tr> 
					<th class="col-md-3"><h3>Channel Name: </h3></th>
					<td><h3>{{ channel_name }}</h3></td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th>Nickname:</th> 
					<td>{{ channel_nickname }}</td>
				</tr>
				<tr>
					<th>Description:</th> 
					<td>{{ channel_description }}</a></td>
				</tr>
				<tr>
					<th>Categories:</th> 
					<td>{% for c in categories %}
							{{ c }}{% if not forloop.last %},{% endif %} 
						{% endfor %}
					</td>
				</tr>
				{% if is_subscriber %} 
				<tr> 
					<th>
						You are subscribed to this channel!
					</th>
					<td>
						<form class="joinChannel" method="POST">
							{% csrf_token %}
							<input class="button btn btn-default btn-small" name="Unsubscribe" type="submit" value="Unsubscribe"/> 
						</form>
					</td>
				</tr>
				<tr>
					<th>All Events: </th>
					<td> 
						<ul>{% for e in unadded_e.all %}
						<li>{{ e }} -  {{e.event_date}} - {{e.start_time}}</li>
						<form class="addEvent" method="POST">
							{% csrf_token %}
							<input class="button" name="{{e.pk}}" type="submit" value="Add"/>
						</form>
						{% endfor %}
						
						<ul>{% for e in added_e.all %}
						<li><a href="{% url 'events_page' event_id=e.id event_name=e.name %}">{{ e }} - {{e.event_date}} - {{e.start_time}}</a></li>
						{% endfor %}
					</td>
				</tr>	
				{% elif channel_status %}
				<tr>
					<th></th>
					<td>
						<form class="joinChannel" method="POST">
							{% csrf_token %}
							<input class="button btn btn-default btn-small" name="Subscribe" type="submit" value="Subscribe"/>
						</form>
					</td>
				{% else %}
					<th></th>
					<td>
						<form class="joinChannel" method="POST">
							{% csrf_token %}
							<input class="button btn btn-default btn-small" type="submit" value="Request to join"/>
						</form>
					</td>
				{% endif %}	
			</tbody>
		</table>
	</div>
	
</div>

{% endblock %}

	
{% block javascript %}
{{ block.super }}

{% endblock %}