{% comment %}
How to contact us!
{% endcomment %}

{% block head %}
  
  {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap-3.2.0-dist/css/bootstrap.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'js/jquery-ui-1.11.2/jquery-ui.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'account/login.css' %}" />

    <script src="{% static 'js/jquery-2.1.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-3.2.0-dist/js/bootstrap.js' %}"></script>

{% endblock %}

{% block body %}
{% if user %}
  <header class="navbar navbar-fixed-top">
    {% include "jam/nav/nav-bar.html" %}
  </header>
  {% else %}
    <header class="navbar navbar-fixed-top">
    {% include "jam/nav/login-nav.html" %}
  </header>
{% endif %}


  <section>
    <div class="login">
    <p>JAM is a project created by 7 Dartmouth students for their culminating experience for the CS major...
    We were frustrated by the process of keeping track of dozens of companies' deadlines, networking contacts, and interviews...And so the idea for JAM was born. After a few months, the idea became a reality. </p>
  </div>
  </section>
{% endblock %}




