{% extends "../../jam/templates/jam/index/base.html" %}

{% load staticfiles %}

{% comment %}
frequently asked questions 
{% endcomment %}

{% block header %}
{% if username %}
  <header class="navbar navbar-fixed-top">
    {% include "jam/nav/nav-bar.html" %}
  </header>
      {% include "jam/nav/modal_nav_bar.html" %}
      {% include "jam/modals/modal_import_company.html" %}
      {% include "jam/modals/modal_import_contact.html" %}

  {% else %}
    <header class="navbar navbar-fixed-top">
    {% include "jam/nav/login-nav.html" %}
  </header>
{% endif %}
{% endblock %}

{% block content %}

  <section>
    <div class="login">
      <br />
      <p id="faq_title"><b>Frequently Asked Questions</b>
        <ol>
          <li class="faq_question"><b>What is JAM?</b></li>
            <p>JAM is Job Application Manager, a one-stop shop for streamlining the job-search process. As we were applying for jobs, we got frustrated keeping track of dozens of application deadlines, contacts met through networking, events, and more. We wished there was one convenient place where we could keep track of all this information. And so, JAM was born!</p>

          <li class="faq_question"><b>What can I do with JAM?</b></li>
            <p>Keep track of the companies you’re applying to — application deadlines, online application links, etc. <br />
            Keep track of contacts you meet while networking — their contact info, employer info, etc. <br />
          Keep track of all job-search events — interviews, info sessions, meet-and-greets, etc.  <br />
          Subscribe to channel feeds — career-related student orgs who post info about jobs and career-related events. </p>

          <li class="faq_question"><b>Will JAM notify me about my application deadlines?</b></li>
            <p>Yes! By default, we notify you 2 days before the deadline. If you want to be notified 1 week in advance, or even 1 month in advance, click on the JAM logo and select Account. There you can select how frequency you want to receive  deadline notifications.</p>

          <li class="faq_question"><b>What is a channel, and should I make one?</b></li>
            <p>A channel is essentially a posting-board for organizations. Channels can post information about career-related events, such as company info sessions, interview workshops, etc. 
            You should make a channel if you’re the admin of an organization that regularly hosts career-oriented events.</p>

          <li class="faq_question"><b>Ahh! I forgot my password. What do I do?</b></li>
            <p><a href="../../password_change/reset/">Click here.</a></p>

          <li class="faq_question"><b>How do I add companies, contacts, etc.?</b></li>
            <p>When you’re logged in, click the circle buttons at the bottom-right of the screen to add content. The building is for companies, the person is for contacts, the calendar is for events, and the broadcast signal is for channels. </p>

          <li class="faq_question"><b>Don’t see your question here?</b></li>
            <p>Drop us a line on our <a href="/jam/contact/"> contact page</a>. </p>
          </li>
        </ol></p>
      </div>
  </section>
{% endblock %}




