<div>
	<form name="profile_form" class="profile-form form-horizontal" method="POST"> 
		{% csrf_token %}
		<div class="form-group"> 
			<label form="name_input" class="col-md-3 control-label"><h3>Gender: </h3></label>
			<div class="col-md-8"> <h3>
				<input id="name_input" class="form-control" name="gender" value='{{ user.gender }}' placeholder="Female" />
				<span class="error" name="name_input" style="display:none; background-color: white; color: red"> </span> </h3>
			</div>
		</div>
		<div class="form-group"> 
			<label for="user_email" class="col-md-3 control-label">Email: </label>
			<div class="col-md-8"> 
				<input id="user_email" class="form-control" placeholder="john.doe@gmail.com" name="user_email" value='{{ user.email }}' />
				<span class ="" style="color:red;"> </span>

			</div>
		</div>
		<div class="form-group"> 
			<label for="user_phone_number" class="col-md-3 control-label">Phone Number: </label>
			<div class="col-md-8"> 
				<input id="user_phone_number" class="form-control" placeholder="123-456-7890" name="user_phone_number" value='{{ user.phone_number }}' />
				<span class ="" style="color:red;"> </span>
			</div>
		</div>
		<div class="form-group"> 
			<label for="user_address" class="col-md-3 control-label">Address: </label>
			<div class="col-md-8"> 
				<input id="user_address" class="form-control" placeholder="1234 Main St. Hanover, NH 03755" name="user_address" value='{{ user.address }}' />
				<span class ="" style="color:red;"> </span>
			</div>
		</div>
		<div class="form-group"> 
			<label for="user_grad_date" class="col-md-3 control-label">Graduation Date: </label>
			<div class="col-md-8"> 
				<input id="user_grad_date" class="form-control" placeholder="123-456-7890" name="user_grad_date" value='{{ user.grad_date }}' />
				<span class ="" style="color:red;"> </span>
			</div>
		</div>
		
		<button class="btn btn-default btn-small" type="submit" value="Save">Save</button>

	</form>
</div>
