{% extends "../../jam/templates/jam/index/base.html" %}

{% load staticfiles %}

{% comment %}
How to contact us!
{% endcomment %}


{% block header %}
  {% if username %}
  <header class="navbar navbar-fixed-top">
          {% include "jam/nav/nav-bar.html" %}
      </header>
      {% include "jam/nav/modal_nav_bar.html" %}
      {% include "jam/modals/modal_import_company.html" %}
      {% include "jam/modals/modal_import_contact.html" %}

  {% else %}
    <header class="navbar navbar-fixed-top">
          {% include "jam/nav/login-nav.html" %}
      </header>
  {% endif %}
{% endblock %}

{% block content %}
<div class="container"> 
  <div class="row-fluid">
    <div class="col-sm-3 team-profile" style="position:relative;">
      <div class="team-profile-border" style="position:relative;">
        <img src="{% static 'images/graeson.jpg' %}" class="team-profile-pic">
        <p class="team-profile-bio">
          Graeson McMahon is from southern NH. He is a Computer Science major
          with an interest in interactive and digital storytelling. 
        </p>
        <div>Graeson</div>
      </div>
    </div>
    <div class="col-sm-3 team-profile" style="position:relative;">
      <div class="team-profile-border" style="position:relative;">
        <img src="{% static 'images/janice.jpg' %}" class="team-profile-pic">
        <p class="team-profile-bio">
          Janice Yip is a Computer Science major and Engineering Sciences minor from San Jose, CA. 
          She has a passion for technology, design, and traveling, and will be working 
          in San Francisco when not exploring the world. 
        </p>
        <div>Janice</div>
      </div>
    </div>
    <div class="col-sm-3 team-profile" style="position:relative;">
      <div class="team-profile-border" style="position:relative;">
        <img src="{% static 'images/kimi.jpg' %}" class="team-profile-pic">
        <p class="team-profile-bio"> 
          Kimberly Strauch is a Computer Science major from Scarsdale, NY. Her love of language led her to learn many new languages at Dartmouth, from German to Javascript. Next year, she'll be working in the SF Bay Area, using technology to make the world a better place.  
        </p>
        <div>Kim</div>
      </div>
    </div>
    <div class="col-sm-3 team-profile" style="position:relative;">
      <div class="team-profile-border" style="position:relative;">
        <img src="{% static 'images/nicole3.jpg' %}" class="team-profile-pic">
        <p class="team-profile-bio">
          Nicole Hedley is from CT. She majored in Computer Science and is currently exploring Asia 
          before starting work in San Francisco next year. 
        </p>
        <div>Nicole</div>
      </div>
    </div>
    <div class="col-sm-3 team-profile" style="position:relative;">
      <div class="team-profile-border" style="position:relative;">
        <img src="{% static 'images/molly2.jpg' %}" class="team-profile-pic">
        <p class="team-profile-bio"> 
          Molly Leen is a Biology modified Computer Science major. 
          Next year, Molly will be working at a tech company in Boston. 
        </p>
        <div>Molly</div>
      </div>
    </div>
    <div class="col-sm-3 team-profile" style="position:relative;">
      <div class="team-profile-border" style="position:relative;">
        <img src="{% static 'images/avalon.jpg' %}" class="team-profile-pic">
        <p class="team-profile-bio"> 
          Avalon McRae is from TX. She is a Computer Science modified with Economics major. Her love of traveling and technology has informed her decision to work next year as a software consultant. 
        </p>
        <div>Avalon</div>
      </div>
    </div>
    <div class="col-sm-3 team-profile" style="position:relative;">
      <div class="team-profile-border" style="position:relative;">
        <img src="{% static 'images/sam2.jpg' %}" class="team-profile-pic">
        <p class="team-profile-bio">
          Sam Yoder is from North Attleboro, MA, is a Computer Science and English double
          major, and his post-graduation plans include working in Boston and learning
          how to surf.​
        </p>
        <div>Sam</div>
      </div>
    </div>
  </div>
</div> 

{% endblock %}




