{% extends "../../jam/templates/jam/index/base.html" %}

{% load staticfiles %}

{% comment %}
How to contact us!
{% endcomment %}


{% block header %}
  {% if username %}
  <header class="navbar navbar-fixed-top">
          {% include "jam/nav/nav-bar.html" %}
      </header>
      {% include "jam/nav/modal_nav_bar.html" %}
      {% include "jam/modals/modal_import_company.html" %}
      {% include "jam/modals/modal_import_contact.html" %}

  {% else %}
    <header class="navbar navbar-fixed-top">
          {% include "jam/nav/login-nav.html" %}
      </header>
  {% endif %}
{% endblock %}

{% block content %}
  <section style="color:black">
        <div class="login">

    <p> TEAM: Kim, Avalon, Graeson, Nicole, Molly, Sam, Janice</p>
    <p> Add pics</p>
  </div>
  </section>
{% endblock %}




