{% extends "../../jam/templates/jam/index/base.html" %}

{% load staticfiles %}

{% comment %}
How to contact us!
{% endcomment %}


{% block header %}
  {% if username %}
  <header class="navbar navbar-fixed-top">
          {% include "jam/nav/nav-bar.html" %}
      </header>
      {% include "jam/nav/modal_nav_bar.html" %}
      {% include "jam/modals/modal_import_company.html" %}
      {% include "jam/modals/modal_import_contact.html" %}

  {% else %}
    <header class="navbar navbar-fixed-top">
          {% include "jam/nav/login-nav.html" %}
      </header>
  {% endif %}
{% endblock %}

{% block content %}
<!--   <section style="color:black">
        <div class="login">

    <p> TEAM: Kim, Avalon, Graeson, Nicole, Molly, Sam, Janice</p>
    <p> Add pics</p>
  </div>
  </section> -->
<div class="container"> 
  <div class="row-fluid">
    <div class="col-sm-3 team-profile" style="position:relative;">
      <div class="team-profile-border" style="position:relative;">
        <img src="{% static 'images/graeson.jpg' %}" class="team-profile-pic">
        <div class="team-profile-bio">This is Graeson's bio blah blah blah 
        This is Graeson's bio blah blah blah 
        This is Graeson's bio blah blah blah 
        This is Graeson's bio blah blah blah </div>
        <div>Graeson</div>
      </div>
    </div>
    <div class="col-sm-3 team-profile">
      <div class="team-profile-border">
      <img src="{% static 'images/janice.jpg' %}" class="team-profile-pic">
        Janice
      </div>
    </div>
    <div class="col-sm-3 team-profile">
      <div class="team-profile-border">
      <img src="{% static 'images/kimi.jpg' %}" class="team-profile-pic">
        Kim
      </div>
    </div>
    <div class="col-sm-3 team-profile">
      <div class="team-profile-border">
        <img src="{% static 'images/nicole3.jpg' %}" class="team-profile-pic">
        <span>Nicole</span>
      </div>
    </div>
    <div class="col-sm-3 team-profile col-sm-offset-1-5">
      <div class="team-profile-border">
        <img src="{% static 'images/molly2.jpg' %}" class="team-profile-pic">
        Molly
      </div>
    </div>
    <div class="col-sm-3 team-profile">
      <div class="team-profile-border">
        <img src="{% static 'images/avalon.jpg' %}" class="team-profile-pic">
        Avalon
      </div>
    </div>
    <div class="col-sm-3 team-profile">
      <div class="team-profile-border">
        <img src="{% static 'images/sam2.jpg' %}" class="team-profile-pic">
        Sam
      </div>
    </div>
  </div>
</div> 

{% endblock %}




