<div>
	<form name="contact_form" class="contact_form form-horizontal" method="POST"> 
		{% csrf_token %}
		<div class="form-group"> 
			<label form="name_input" class="col-md-3 control-label"><h3>Company: </h3></label>
			<div class="col-md-8"> <h3>
				<input id="name_input" class="form-control" name="name" value='{{ c_name }}' placeholder="Name: eg. John Smith" onblur = 'validateName(this.id)' required  />
				<span class="error" name="name_input" style="display:none; background-color: white; color: red"> </span> </h3>
			</div>
		</div>
		<div class="form-group"> 
			<label for="phone_number_input" class="col-md-3 control-label">Phone Number: </label>
			<div class="col-md-8"> 
				<input id="phone_number_input" class="form-control" placeholder="(555) 555-5555" name="phone" value='{{ phone_number }}' onblur="validatePhone()"/>
				<span class ="phone_error_message" style="color:red;"> </span>

			</div>
		</div>
		<div class="form-group">
			<label for="email_input" class="col-md-3 control-label">Email: </label>
			<div class="col-md-8">
				<input id="email_input" class="form-control" name="email" value='{{ contact_email }}' placeholder="john.smith@gmail.com" onblur="validateEmailAddress()"/>
				<span class ="email_error_message" style="color:red;"> </span>
			</div>
		</div>
		<div class="form-group">
			<label for="company_input" class="col-md-3 control-label">Employer: </label>
			<div class="col-md-8">
				<input id="company_input" class="form-control" name="company" value='{{ employer }}' placeholder="Google" onblur = 'validateName(this.id)'required />
				<span class="error" name="company_input" style="display:none; background-color: white; color: red"> </span>

			</div>
		</div>

		<div class="form-group"> 
			<label for="contact_notes_input" class="col-md-3 control-label">Notes on Contact: </label>
			<div class="col-md-8">
				<textarea class="form-control" rows="5" id="comment">{{ notes }}</textarea>
			</div>
		</div>	

		<input class="button" type="submit" value="Save"/>

	</form>
</div>


{% block content %}
<div class="container">
	<div class="row">
		<!--<div class="col-sm-5">-->
			<h2> Company: {{ company_name }}</h2> 
		<!--</div>
		<div class="col-sm-7">-->
		<form class="contactInfo" method="POST">
			{% csrf_token %}
			<table>
				<tr>
					<td >
						<label for="name_input">Name: </label>
						{% if company_name %}
							<input id="company_name_input" name="company_name" value='{{ company_name }}'/>
						{% else %}
							<input id="company_name_input" name="company_name" value='Company' required/>
						{% endif %}
					</td>
					<td>&nbsp;&nbsp;&nbsp;</td>
					<td>
						<label for="name_input">Application Deadline: </label>
						{% if application_deadline %}
							<input id="app_deadline_input" name="app_deadline" value='{{ application_deadline }}'/>
						{% else %}
							<input id="app_deadline_input" name="app_deadline" placeholder="12/31/2015" required/>
						{% endif %}
					</td>
				</tr>
				<tr><td>&nbsp;</td></tr>
				<tr>
					<td>
						<label for="name_input">Notes: </label>
						{% if notes %}
							<textarea id="notes_input" rows="2" columns="40" name="notes">{{ notes }}</textarea>
						{% else %}
							<textarea id="notes_input" rows="2" columns="40" name="notes" placeholder="Include GPA in resume."></textarea>
						{% endif %}
					</td>
				</tr>
				<tr>
					<td class="profileField">
						<input class="button" type="submit" value="Save"/>
					</td>
				</tr>
			</table>
			<!--</div>-->
		</form>
		</div>
	</div>	
</div>
{% endblock %}

{% block javascript %}
	<script src="{% static 'js/profile.js' %}"></script>
	<script src="{% static 'js/jquery-2.1.1.min.js' %}"></script>
	<script src="{% static 'twitter_bootstrap/js/transition.js' %}"></script>
	<script src="{% static 'js/main.js' %}"></script>
	<script src="{% static 'js/handlers.js' %}"></script>
	<script src="{% static 'bootstrap-3.2.0-dist/js/bootstrap.js' %}"></script>
{% endblock %}