{% extends "../../jam/templates/jam/index/index_landing_home.html" %}

{% load staticfiles %}
{% load notification_custom %}


{% block styles %}
	{{ block.super }}
	{% load staticfiles %}
		<link rel="stylesheet" type="text/css" href="{% static 'css/companies.css' %}" />
{% endblock %}

{% block side_col %}
	<h2>Companies</h2>
		 <button type="button" class="btn btn-default"><a style="text-decoration:none; color:#333" data-toggle="modal" data-target="#importCompanyModal"> Import my companies</a></button>

	<div class="list-group">
		<form action="" method="POST" id="company_form">
		{% csrf_token %}
		{% for c in companies %}
			<div class="companies_names_list">
				<div class="company_name_in_list">
					<input type="submit" name="company_name" value="{{c}}" class="companyNames" title="Click to see detailed company page"style="color:#428bca"/>
				</div>
				<div class="complete_checkbox">
					<label class="complete_text">Complete</label>
					{% if c.application_status %}
						<input type="checkbox" class="checkbox" name="app_status[]" style="float:right"  value="{{c}}" checked/>
					{% else %}
						<input type="checkbox" class="checkbox"  name = "app_status[]" style="float:right" value="{{c}}" unchecked/>
					{% endif %}
				</div>
				<br>
				<br>
			</div>
		{% empty %}
			<h5> You haven't entered any companies. Add one <a data-toggle="modal" data-target="#companyModal">here</a>.</h5>
		{% endfor %}
		{% if companies %}
		<div class="company_submit_btn">
			<button type="submit" class="btn btn-primary" name="company_update">Update</button>
		</div>
		{% endif %}
		</form>
		<div class="export_company_btn">
			<button type="button" name="export" class="btn btn-default company-export">Export my companies</button>
		</div>
	</div>


{% endblock %}

{% block main_col %}
<div id="showCompanyPage">
	{% if show %}
		{% include "jam/companies/company_page.html" %}
	{% elif company_edit %}
		{% include "jam/companies/company_page_edit.html" %}
	{% endif %}	
</div>

{% endblock %}


