{% extends "../../jam/templates/jam/index/index_landing_home.html" %}

{% load staticfiles %}
{% load notification_custom %}

<!--
{% block styles %}
	{{ block.super }}
	{% load staticfiles %}
		<link rel="stylesheet" type="text/css" href="{% static 'css/companies.css' %}" />
{% endblock %}
-->
{% block side_col %}

	<div>
		<button type="button" class="btn btn-primary company-export">Export my companies</button>
	</div>
	<div class="list-group">
		<form action="" method="POST" id="company_form">
		{% csrf_token %}
		{% for c in companies %}
			<div class="companies_names_list">
				<div class="company_name_in_list">
					<input type="submit" name="company_name" value="{{c}}" class="companyNames"/>
					<button class="btn btn-default" name="{{ c.name }}" type="submit" value="Delete"  onclick="return confirm('Are you sure you want to delete {{ c }}?')">Delete</button>
				</div>
				<div style="float:left">
					<label style="float:right">App Comp</label>
					{% if c.application_status %}
						<input type="checkbox" name="app_status[]" style="float:right"  value="{{c}}" checked/>
					{% else %}
						<input type="checkbox" name = "app_status[]" style="float:right" value="{{c}}" unchecked/>
					{% endif %}
				</div>
			</div>
		{% empty %}
			You haven't entered any companies yet.
		{% endfor %}
		<div class="company_submit_btn">
			<button type="submit" class="btn btn-primary" name="company_update">Update</button>
		</div>
		</form>
	</div>


{% endblock %}

{% block main_col %}
<div id="showCompanyPage">
	{% if show %}
		{% include "jam/companies/company_page.html" %}
			<div>
				<form class="goHome" method="POST" action="">
				{% csrf_token %}
					
				<br />
				<input class="button" name="back_home" type="submit" value="Back"/>
					<a href="../../edit/company/{{ company_name }}"><button style="color:black" type="button">Edit</button></a>

				</form>
			</div>
		{% endif %}

</div>

{% endblock %}


{% block javascript %}
	<script src="{% static 'js/jquery-2.1.1.min.js' %}"></script>
	<script src="{% static 'js/companies.js' %}"></script>
	<script src="{% static 'twitter_bootstrap/js/transition.js' %}"></script>
	<script src="{% static 'js/main.js' %}"></script>
	<script src="{% static 'js/handlers.js' %}"></script>
	<script src="{% static 'bootstrap-3.2.0-dist/js/bootstrap.js' %}"></script>

{% endblock %}
