<div>
	<form name="company_form" class="companies_form form-horizontal" method="POST"> 
		{% csrf_token %}
		<div class="form-group"> 
			<label form="name_input" class="col-md-3 control-label"><h3>Company: </h3></label>
			<div class="col-md-8"> <h3>
				<input id="name_input" class="form-control" name="name" value='{{ company_name }}' maxlength="50" placeholder="Name: eg. John Smith" onblur = 'validateName(this.id)' required  />
				<span class="error" name="name_input" style="display:none; background-color: white; color: red"> </span> </h3>
			</div>
		</div>
		<div class="form-group"> 
			<label for="application_deadline_input" class="col-md-3 control-label">Application Deadline: </label>
			<div class="col-md-8"> 
				{% if application_deadline %}
				<input id="application_deadline_input" class="form-control" placeholder="YYYY-MM-DD" name="application_deadline" value= '{{ application_deadline }}' onblur="validateDeadline()"/>
				{% else %}
				<input id="application_deadline_input" class="form-control" placeholder="YYYY-MM-DD" name="application_deadline" onblur="validateDeadline()"/>
				{% endif %}
				<span class ="date_error_message" style="color:red;"> {% if errors %} {{errors}} {% endif %} </span>
			</div>
		</div>
		<div class="form-group"> 
			<label for="company_notes_input" class="col-md-3 control-label">Notes on Company: </label>
			<div class="col-md-8">
				<textarea class="form-control" name="notes" rows="5" id="comment">{{ company_notes }}</textarea>
			</div>
		</div>
		<div class="form-group"> 
			<label for="app_link_input" class="col-md-3 control-label">Link to Application: </label>
			<div class="col-md-8">
				<input id="app_link_input" class="form-control" maxlength="150" name="app_link" value='{{ link }}'/>
			</div>
		</div>
		<div class="form-group"> 
			<label class="col-md-3 control-label"></label>
			<div class="col-md-8">
			<button class="btn btn-default btn-small" type="submit" name="save" value="Save">Save</button></div>
		</div>	
	</form>
</div>
