<div class="table-responsive">
	<table class="table table-companies"> 
		<thead> 
			<tr> 
				<th class="col-md-3"><h3>Company: </h3></th>
				<td><h3>{{ company_name }}</h3></td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th>Application Deadline:</th>
				<td>{{ application_deadline }}</td>
			</tr>
			<tr>
				<th>Notes:</th> 
				<td>{{ company_notes }}</td>
			</tr>
			<tr>
				<th>Contacts:</th> 
				<td><ul>
					{% for c in contacts %}
						<li><a href="{% url 'contacts_page' c %}">{{ c }}</a></li>

					{% empty %}
						<p> You haven't entered any contacts for this company.</p>
					{% endfor %}
					</ul>
				</td>
			</tr>
			<tr>
				<th>Events:</th> 
				<td><ul>
					{% for e in events %}
						<li><a href="{{ e.occurrence_set.first.get_absolute_url }}">{{ e }}</a></li>

					{% empty %}
						<p> You haven't entered any events for this company. Add one <a href="{% url 'swingtime-add-event' %}">here</a>.</p>
					{% endfor %}
					</ul>
				</td>
			</tr>

			<tr>
				<th>Application status:</th>
				<td> 
					<form>
					{% if status %}
						<p> Complete! </p>
					{% else %}
						<p> Incomplete </p>
					{% endif %}
					</form>
				</td>
			</tr>
			
			<tr>
				{% if has_link %}
				<th> Application Link: </th>
				<td>
					<a href="{{link}}" target="_blank">{{link}}</a>
				</td>
				{% endif %}

			</tr>

			

		</tbody>
	</table>
</div>